
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26rem;
}.cell-uZs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  padding: 1.6rem;
  align-items: center;
  border: dashed 0.1rem #b9b9b9;
  box-sizing: border-box;

  .typedefault-3vy {
    width: 12rem;
    height: 3.6rem;
    border: solid 0.1rem #5b5b5b;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .typeheader-C3B {
    border: solid 0.1rem #5b5b5b;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0500000007);
    flex-shrink: 0;
    margin-bottom: 1rem;
    width: 10.8rem;
    height: 2.6rem;
  }
}
