
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26.1rem;
}.row-TdK {
  align-items: center;
  box-sizing: border-box;
  padding-right: 3.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .cell-ohB {
    width: 10.3rem;
    height: 4.4rem;
    border: solid 0.1rem #5b5b5b;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .cell-9FF {
    width: 12rem;
    height: 4.4rem;
    border: solid 0.1rem #5b5b5b;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
