
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.6rem;
}.customerdd-LdF {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-123-VW9 {
    display: flex;
    border: solid 0.1rem #000000;
    border-radius: 1rem 1rem 0 0;
    box-sizing: border-box;
    padding: 0.6rem 0.4rem 0rem 1.1rem;
    width: 100%;
    align-items: center;
    background-color: #c7e4ff;
    flex-shrink: 0;

    .all-customer-pHX {
      font-weight: 400;
      line-height: 1.7025;
      color: rgba(0, 0, 0, 0.6999999881);
      font-family: Harmattan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.6rem;
      font-size: 2.4rem;
    }
    .item-200-LWm {
      font-weight: 400;
      line-height: 1.7025;
      color: rgba(0, 0, 0, 0.6999999881);
      font-family: Harmattan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 1.8rem;
    }
    .polygon-7-rk1 {
      margin-top: 0.2rem;
      width: 2.2rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-151-9UD {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 19.2rem;
    overflow: hidden;
    position: relative;
    align-items: center;

    .shoes-tAu {
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .rectangle-762-duB {
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
      }
      .item-130-AeD {
        font-family: Harmattan, 'Source Sans Pro';
        width: 3.5rem;
        left: 12.4rem;
        top: 1.1rem;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.6999999881);
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.7025;
      }
      .shoes-Fff {
        font-weight: 400;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        height: 4.8rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        font-size: 2.8rem;
        line-height: 1.7025;
        white-space: nowrap;
        width: 5.7rem;
      }
    }
    .cloths-AGq {
      flex-shrink: 0;
      width: 100%;
      height: 4.8rem;
      position: relative;

      .rectangle-763-iZF {
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
      }
      .item-140-TFw {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        font-size: 1.8rem;
        left: 12.4rem;
        top: 1.1rem;
        line-height: 1.7025;
        width: 3.5rem;
        position: absolute;
      }
      .cloths-kVw {
        height: 4.8rem;
        top: 0;
        font-size: 2.8rem;
        color: #000000;
        width: 6.2rem;
        position: absolute;
        left: 1.5rem;
        font-weight: 400;
        line-height: 1.7025;
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .shoes-4mX {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-762-d3w {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .item-130-Ywb {
        position: absolute;
        left: 12.4rem;
        top: 1.1rem;
        color: rgba(0, 0, 0, 0.6999999881);
        width: 3.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.7025;
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
      }
      .shoes-eUq {
        position: absolute;
        top: 0;
        font-size: 2.8rem;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        width: 5.7rem;
        height: 4.8rem;
        left: 1.5rem;
        font-weight: 400;
        line-height: 1.7025;
        white-space: nowrap;
      }
    }
    .cloths-Zbo {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 4.8rem;

      .rectangle-763-Kay {
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
      }
      .item-140-42m {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
        white-space: nowrap;
        width: 3.5rem;
        height: 3.1rem;
        top: 1.1rem;
        position: absolute;
        left: 12.4rem;
        font-family: Harmattan, 'Source Sans Pro';
      }
      .cloths-A5o {
        width: 6.2rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        font-size: 2.8rem;
        height: 4.8rem;
        font-weight: 400;
        line-height: 1.7025;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .shoes-gK3 {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-762-2do {
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
      }
      .item-130-m5b {
        left: 12.4rem;
        top: 1.1rem;
        font-size: 1.8rem;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
        height: 3.1rem;
        position: absolute;
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.5rem;
        font-weight: 400;
      }
      .shoes-fwf {
        line-height: 1.7025;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        position: absolute;
        top: 0;
        font-size: 2.8rem;
        font-weight: 400;
        white-space: nowrap;
        width: 5.7rem;
        height: 4.8rem;
        left: 1.5rem;
      }
    }
    .cloths-Nr5 {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-763-Xiy {
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
      }
      .item-140-U8R {
        white-space: nowrap;
        position: absolute;
        top: 1.1rem;
        left: 12.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Harmattan, 'Source Sans Pro';
        width: 3.5rem;
        height: 3.1rem;
      }
      .cloths-aSM {
        font-family: Harmattan, 'Source Sans Pro';
        width: 6.2rem;
        height: 4.8rem;
        left: 1.5rem;
        top: 0;
        font-weight: 400;
        line-height: 1.7025;
        color: #000000;
        position: absolute;
        font-size: 2.8rem;
        white-space: nowrap;
      }
    }
  }
}
