
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 214.2rem;
}.design-1-j9B {
  height: 60.7rem;
  font-weight: 400;
  display: flex;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  width: 100%;
  font-size: 50rem;
  line-height: 1.2102272949;
  color: #000000;

  .design-1-j9B-sub-0 {
    font-family: Inter, 'Source Sans Pro';
    font-size: 50rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
  }
  .design-1-j9B-sub-1 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 50rem;
    font-weight: 400;
    line-height: 1.2125;
  }
}
