
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-Mxd {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .frame-6-FYD {
    position: absolute;
    align-items: center;
    background-color: #404040;
    height: 102.4rem;
    display: flex;
    border-radius: 0.2rem;
    overflow: hidden;
    flex-direction: column;
    border: solid 0.1rem rgba(255, 255, 255, 0.1000000015);
    box-sizing: border-box;
    padding: 23.05rem 14rem 36.85rem 13.9rem;
    width: 72rem;
    left: 0;
    top: 0;

    .welcome-manage-your-inventory-conveniently-MLM {
      display: flex;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 16rem;
      max-width: 44.1rem;
      font-size: 3.6rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-28m7-r2D {
      margin: 0rem 2.5rem 0rem 2.6rem;
      width: calc(100% - 5.1rem);
      height: 15.7rem;
      position: relative;
      flex-shrink: 0;

      .already-an-inventory-manager-xqw {
        align-items: center;
        font-size: 3.6rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 39rem;
        height: 10.8rem;
        left: 0;
        justify-content: center;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        position: absolute;
        top: 0;
        display: flex;
      }
      .login-59s {
        top: 10.3rem;
        font-size: 3.6rem;
        left: 16.05rem;
        line-height: 1.5;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        width: 10rem;
        cursor: pointer;
        white-space: nowrap;
        height: 5.4rem;
        color: #ffffff;
      }
    }
  }
  .sign-up-KK7 {
    align-items: center;
    color: #000000;
    position: absolute;
    display: flex;
    font-weight: 700;
    font-family: Poppins, 'Source Sans Pro';
    width: 15.5rem;
    height: 6rem;
    justify-content: center;
    font-size: 4rem;
    line-height: 1.5;
    white-space: nowrap;
    left: 100.4rem;
    top: 15.7rem;
  }
  .rectangle-59-2DX {
    height: 12.8rem;
    position: absolute;
    left: 73.6rem;
    top: 31.2rem;
    background-color: #404040;
    border-radius: 1rem;
    width: 40.3rem;
  }
  .username-k9X {
    height: 4.8rem;
    align-items: center;
    font-weight: 700;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 17.1rem;
    top: 35.35rem;
    font-size: 3.2rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    left: 84.6rem;
    line-height: 1.5;
    color: rgba(215, 192, 192, 0.2199999988);
  }
  .password--E4h {
    height: 4.8rem;
    left: 73.6rem;
    top: 45.4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;
    width: 17.1rem;
    position: absolute;
    display: flex;
    color: #252525;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-60-jXF {
    position: absolute;
    left: 73.8rem;
    top: 51rem;
    background-color: #404040;
    border-radius: 1rem;
    width: 40.3rem;
    height: 12.8rem;
  }
  .username--rrm {
    color: #252525;
    font-family: Poppins, 'Source Sans Pro';
    width: 18rem;
    position: absolute;
    top: 25.6rem;
    display: flex;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    height: 4.8rem;
    left: 73.6rem;
  }
  .password-NKK {
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    height: 4.8rem;
    top: 54.55rem;
    justify-content: center;
    font-size: 3.2rem;
    width: 16.1rem;
    position: absolute;
    left: 84.65rem;
    align-items: center;
    font-weight: 700;
    line-height: 1.5;
    color: #615c5c;
    white-space: nowrap;
  }
  .frame-23-Fe1 {
    align-items: center;
    background-color: #aaa4a4;
    padding: 1.1rem 38.4rem 1.2rem 1.9rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    box-sizing: border-box;
    width: 144rem;
    height: 11.4rem;
    overflow: hidden;

    .inspark-logo-1-iXb {
      object-fit: cover;
      vertical-align: top;
      border-radius: 4.9rem;
      flex-shrink: 0;
      margin-right: 29.6rem;
      width: 10.5rem;
      height: 9.1rem;
    }
    .inventory-management-system-1Wh {
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      justify-content: center;
      font-size: 3.6rem;
      font-family: Poppins, 'Source Sans Pro';
      color: #000000;
      display: flex;
      align-items: center;
      font-weight: 800;
      line-height: 1.5;
    }
  }
  .rectangle-65-huK {
    background-color: #404040;
    border-radius: 4rem;
    width: 22.6rem;
    height: 11.1rem;
    position: absolute;
    left: 95.8rem;
    top: 67rem;
  }
  .signup-Dsf {
    left: 100.8rem;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 13.1rem;
    display: flex;
    white-space: nowrap;
    height: 5.4rem;
    position: absolute;
    top: 69.9rem;
    font-weight: 700;
    color: #ffffff;
  }
}
