
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Mj7 {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .frame-6-H6y {
    position: absolute;
    overflow: hidden;
    display: flex;
    border-radius: 0.2rem;
    left: 72.4rem;
    top: 0;
    align-items: center;
    border: solid 0.1rem rgba(255, 255, 255, 0.1000000015);
    background-color: #404040;
    padding: 23.05rem 14rem 36.85rem 13.9rem;
    width: 72rem;
    height: 102.4rem;
    box-sizing: border-box;
    flex-direction: column;

    .welcome-manage-your-inventory-conveniently-YHo {
      font-weight: 700;
      line-height: 1.5;
      flex-shrink: 0;
      font-size: 3.6rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 16rem;
      max-width: 44.1rem;
      display: flex;
    }
    .auto-group-tzzb-coT {
      margin-left: 3.5rem;
      width: 39rem;
      height: 15.7rem;
      position: relative;
      flex-shrink: 0;

      .already-an-inventory-manager-MW9 {
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
        width: 39rem;
        height: 10.8rem;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
        align-items: center;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .signup-f13 {
        position: absolute;
        top: 10.3rem;
        font-size: 3.6rem;
        color: #ffffff;
        height: 5.4rem;
        cursor: pointer;
        align-items: center;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
        width: 13.1rem;
        display: flex;
        justify-content: center;
        font-weight: 700;
        left: 12.9rem;
        white-space: nowrap;
      }
    }
  }
  .rectangle-62-uAH {
    border-radius: 1rem;
    width: 34.8rem;
    height: 12.8rem;
    position: absolute;
    left: 3.9rem;
    top: 30.3rem;
    background-color: #404040;
  }
  .username-Dgm {
    width: 17.1rem;
    color: rgba(215, 192, 192, 0.2199999988);
    justify-content: center;
    font-size: 3.2rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    top: 34.25rem;
    align-items: center;
    left: 11.8rem;
    display: flex;
    white-space: nowrap;
    height: 4.8rem;
    font-weight: 700;
  }
  .password--WA5 {
    top: 45rem;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 17.1rem;
    position: absolute;
    left: 3.9rem;
    color: #252525;
    height: 4.8rem;
    display: flex;
    line-height: 1.5;
  }
  .rectangle-63-QWM {
    left: 3.7rem;
    top: 50.4rem;
    background-color: #404040;
    border-radius: 1rem;
    width: 34.8rem;
    height: 12.8rem;
    position: absolute;
  }
  .username--imw {
    left: 3.9rem;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #252525;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 18rem;
    position: absolute;
    display: flex;
    font-weight: 700;
    height: 4.8rem;
    top: 25.2rem;
  }
  .password-21w {
    height: 4.8rem;
    position: absolute;
    line-height: 1.5;
    width: 16.1rem;
    justify-content: center;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    left: 12.3rem;
    top: 54.05rem;
    font-weight: 700;
    color: #615c5c;
    display: flex;
    align-items: center;
    font-size: 3.2rem;
  }
  .rectangle-64-KFw {
    background-color: #404040;
    border-radius: 4rem;
    width: 22.6rem;
    height: 11.1rem;
    position: absolute;
    left: 26.9rem;
    top: 67rem;
  }
  .login-dXX {
    justify-content: center;
    white-space: nowrap;
    color: #ffffff;
    width: 10rem;
    left: 33.45rem;
    top: 69.9rem;
    align-items: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    height: 5.4rem;
    position: absolute;
    display: flex;
  }
  .login-vmX {
    align-items: center;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
    height: 6rem;
    position: absolute;
    display: flex;
    width: 11.3rem;
    left: 27.7rem;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    font-size: 4rem;
    color: #000000;
    top: 15.7rem;
  }
  .frame-23-RTP {
    padding: 1.1rem 38.4rem 1.2rem 1.9rem;
    width: 144rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: #aaa4a4;
    box-sizing: border-box;
    height: 11.4rem;
    position: absolute;
    left: 0;
    top: 0;

    .inspark-logo-1-86u {
      width: 10.5rem;
      height: 9.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 4.9rem;
      flex-shrink: 0;
      margin-right: 29.6rem;
    }
    .inventory-management-system-eb3 {
      justify-content: center;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      margin-top: 0.1rem;
      display: flex;
      align-items: center;
      font-size: 3.6rem;
      font-weight: 800;
      line-height: 1.5;
      color: #000000;
      flex-shrink: 0;
    }
  }
}
