
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.employee-GnV {
  padding-top: 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;

  .auto-group-jgfs-1VB {
    margin: 0rem 4.1rem 0.5rem 0rem;
    width: calc(100% - 4.1rem);
    height: 9.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-728-vs3 {
      width: 9.9rem;
      height: 9.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ccpk-fpd {
      box-sizing: border-box;
      padding: 2rem 0rem 1.9rem 2.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .searchbar-CpZ {
        background-color: #ffffff;
        padding: 1.1rem 30rem 1rem 1.6rem;
        border: solid 0.1rem #000000;
        display: flex;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin: 0.6rem 51.7rem 0rem 0rem;
        box-sizing: border-box;

        .vector-KuB {
          margin: 0.221rem 3.4rem 0rem 0rem;
          width: 3.4rem;
          height: 2.9054rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-Fnq {
          font-size: 2.7rem;
          font-weight: 400;
          line-height: 1.2125;
          color: rgba(0, 0, 0, 0.5299999714);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-34-Knh {
        margin-bottom: 0.3rem;
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-jjbt-Te1 {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .hello-inspark-1fX {
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .owner-YQZ {
            flex-shrink: 0;
            margin-right: 0.7rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.7900000215);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-epih-shj {
          box-sizing: border-box;
          padding-left: 4.2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-ff6h-RUM {
            box-shadow: 0 0.4rem 0.4rem #98a0da;
            background-color: #ffffff;
            border-radius: 2.7rem;
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.3rem 0rem;
            box-sizing: border-box;
            padding: 1.307rem 1.1rem 1.488rem 1.1rem;
            border: solid 0.1rem #000000;

            .vector-XnH {
              width: 3.2rem;
              height: 2.6049rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .notification-2j3 {
            box-sizing: border-box;
            padding: 1.559rem 1.2rem 1.025rem 1.2rem;
            cursor: pointer;
            box-shadow: 0 0.4rem 0.4rem #98a0da;
            margin-bottom: 0.3rem;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            border-radius: 2.7rem;
            flex-shrink: 0;

            .vector-MmK {
              width: 3rem;
              height: 2.816rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .auto-group-2j3o-3e9 {
    margin-right: 4.4rem;
    width: calc(100% - 4.4rem);
    height: 163.7rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .slidingmenu-BVT {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.3rem 1.4rem 0rem 0rem;
      width: 11.7rem;
      height: 93rem;
      cursor: pointer;
    }
    .employeescrollablegroup-uRT {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.2rem 1.7rem 2.2rem 2rem;
      width: 127.6rem;
      height: 100%;
      border: solid 0.1rem #000000;
      background-color: #cad0f4;
      border-radius: 1.5rem;

      .frame-123-Rub {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 91.4rem;

        .frame-116-aGh {
          background-color: #ffffff;
          border-radius: 1.5rem 1.5rem 0 0;
          padding: 2.1rem 1.053rem 1.9rem 1.2rem;
          width: 100%;
          height: 8.7rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;

          .purchase-order-filter-Hgu {
            margin-right: 46.3rem;
            padding: 0.6rem 0.57rem 0rem 1.1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #c7e4ff;
            border-radius: 1rem;
            box-sizing: border-box;
            height: 100%;
            border: solid 0.1rem #000000;
            flex-shrink: 0;

            .all-employee-cDP {
              font-family: Harmattan, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.6rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.7025;
              color: rgba(0, 0, 0, 0.6999999881);
            }
            .item-15-wWZ {
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Harmattan, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.5rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.7025;
            }
            .polygon-7-UWV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.4883rem;
              width: 2.4305rem;
              height: 1.4118rem;
            }
          }
          .searchbar-aZX {
            border-radius: 2.5rem;
            flex-shrink: 0;
            margin: 0.5rem 3.2rem 0.6rem 0rem;
            padding: 0.857rem 5.882rem 0.543rem 0.877rem;
            height: calc(100% - 1.1rem);
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            align-items: center;
            border: solid 0.1rem #000000;
            background-color: #ffffff;

            .vector-Gx9 {
              margin: 0rem 2.58rem 0.215rem 0rem;
              width: 1.8617rem;
              height: 1.908rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .search-employee-QYZ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.5299999714);
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .filter-HsF {
            box-sizing: border-box;
            padding: 0.6rem 1.2rem 0.5rem 1rem;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            border-radius: 2rem;
            margin: 0.5rem 1.8rem 0.6rem 0rem;
            height: calc(100% - 1.1rem);
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-oah {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.848rem 0.167rem 0rem;
              width: 2.6523rem;
              height: 2.1333rem;
            }
            .filter-vvD {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #104ff2;
            }
          }
          .newemplyee-T9T {
            width: 14.3469rem;
            height: calc(100% - 1.069rem);
            cursor: pointer;
            flex-shrink: 0;
            margin: 0.5rem 0rem 0.569rem 0rem;

            .newsupplierbutton-P37 {
              box-sizing: border-box;
              display: flex;
              align-items: center;
              border: solid 0.08rem #000000;
              border-radius: 1.5rem;
              padding: 0.919rem 1.141rem 1.012rem 1.2rem;
              width: 100%;
              height: 100%;
              background-color: #c0ccea;

              .vector-KBf {
                margin: 0.127rem 0.905rem 0rem 0rem;
                width: 1.2rem;
                height: 1.1991rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .new-employee-Sn5 {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .frame-120-Kay {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .frame-122-ssP {
            height: 6.2rem;
            display: flex;
            align-items: center;
            background-color: #a6b3ff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 13.3rem 1.4rem 1.8rem;
            width: 100%;

            .rectangle-773-zBK {
              margin-right: 4.4rem;
              width: 2.5rem;
              height: 2.5rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
            }
            .name-KzH {
              flex-shrink: 0;
              margin-right: 10.6rem;
              font-size: 2.7rem;
              font-weight: 300;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.6800000072);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-115-GPj {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 6.5rem;
              box-sizing: border-box;
              padding-right: 0.6969rem;
              height: 100%;

              .salary-Qkq {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.6800000072);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.7031rem;
                font-size: 2.7rem;
              }
              .arrow-up-thin-kJu {
                margin-bottom: 0.0111rem;
                width: 1rem;
                height: 1.395rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .location-Ukh {
              font-weight: 300;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.6800000072);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5.2rem;
              font-size: 2.7rem;
            }
            .frame-116-bKX {
              align-items: center;
              flex-shrink: 0;
              margin-right: 5rem;
              box-sizing: border-box;
              padding-right: 0.6969rem;
              height: 100%;
              display: flex;

              .attendance-Jjj {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.6800000072);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.7031rem;
                font-size: 2.7rem;
              }
              .arrow-up-thin-RJZ {
                margin-bottom: 0.011rem;
                width: 1rem;
                height: 1.395rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .frame-115-j4M {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 9.1rem;
              box-sizing: border-box;
              padding-right: 0.6969rem;
              height: 100%;

              .contact-4MX {
                flex-shrink: 0;
                margin-right: 1.7031rem;
                font-size: 2.7rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.6800000072);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .arrow-up-thin-BBF {
                width: 1rem;
                height: 1.395rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.011rem;
              }
            }
            .eid-5XX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.7rem;
              font-weight: 300;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.6800000072);
            }
          }
          .frame-119-D7w {
            flex-shrink: 0;
            width: 100%;
            height: 76.5rem;
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;

            .itemlistitem-YAD {
              box-sizing: border-box;
              padding: 1.3rem 3.3rem 1.4rem 1.7rem;
              width: 100%;
              display: flex;
              height: 8.5rem;
              align-items: center;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              flex-shrink: 0;

              .rectangle-771-ptR {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-bfvk-9A1 {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-tdP {
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 2.4rem;
                  font-weight: 300;
                }
                .co-admin-pmw {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .item-4535-AL1 {
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .yk-industries-Tpu {
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-79-bAR {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
              }
              .item-917564824544-K6R {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .item-56425-qKf {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.7rem 0.5rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .mail-outline-A73 {
                height: 3.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.1rem;
                width: 4.3rem;
              }
            }
            .itemlistitem-4y7 {
              flex-shrink: 0;
              align-items: center;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              height: 8.5rem;
              display: flex;
              box-sizing: border-box;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              width: 100%;

              .rectangle-771-neD {
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
              }
              .auto-group-fu7b-iXs {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-GZP {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .co-admin-1G5 {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-4535-Y17 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .yk-industries-eZw {
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-79-B45 {
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-917564824544-JeV {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
              }
              .item-56425-pcq {
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .itemlistitem-vQy {
              box-sizing: border-box;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              height: 8.5rem;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);

              .rectangle-771-dqB {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-nsv1-y8M {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-KT7 {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 2.4rem;
                }
                .co-admin-fG5 {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-4535-153 {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
              }
              .yk-industries-KLd {
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
              .item-79-r5f {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .item-917564824544-B7w {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .item-56425-u3w {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
              }
            }
            .itemlistitem-cDF {
              background-color: #ffffff;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              height: 8.5rem;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              width: 100%;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              flex-shrink: 0;

              .rectangle-771-8SV {
                flex-shrink: 0;
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
              }
              .auto-group-vi9w-4b3 {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-bqs {
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                }
                .co-admin-gsK {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-4535-9W1 {
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .yk-industries-U2V {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
              }
              .item-79-bcu {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
              .item-917564824544-7LM {
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
              .item-56425-dJh {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
            }
            .itemlistitem-iqw {
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              display: flex;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              width: 100%;
              height: 8.5rem;
              align-items: center;

              .rectangle-771-pty {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-u7xm-Mtu {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 8.3rem;
                height: 100%;
                display: flex;

                .arsh-kaur-uvR {
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                }
                .co-admin-rKs {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .item-4535-zBB {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .yk-industries-hrH {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
              .item-79-djw {
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
              .item-917564824544-xXK {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .item-56425-H3o {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
              }
            }
            .itemlistitem-yxD {
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              display: flex;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              box-sizing: border-box;
              width: 100%;
              height: 8.5rem;
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;

              .rectangle-771-hNR {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-bwgu-cEV {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 8.3rem;
                height: 100%;

                .arsh-kaur-xZF {
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                }
                .co-admin-VJH {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-4535-2p1 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
              .yk-industries-9dj {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .item-79-51b {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
              }
              .item-917564824544-zeM {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
              .item-56425-7U5 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .itemlistitem-Dn1 {
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              width: 100%;
              display: flex;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              flex-shrink: 0;
              box-sizing: border-box;
              height: 8.5rem;
              align-items: center;
              background-color: #ffffff;

              .rectangle-771-88H {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-eauy-Suf {
                flex-shrink: 0;
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;

                .arsh-kaur-Q5o {
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                }
                .co-admin-wLd {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .item-4535-5Bw {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .yk-industries-oNq {
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-79-jGV {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .item-917564824544-Fkd {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
              }
              .item-56425-aH7 {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
              }
            }
            .itemlistitem-5zZ {
              box-sizing: border-box;
              width: 100%;
              height: 8.5rem;
              background-color: #ffffff;
              flex-shrink: 0;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              display: flex;
              align-items: center;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);

              .rectangle-771-CZP {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-3bey-jZK {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-Haq {
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .co-admin-2YR {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-4535-a49 {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
              }
              .yk-industries-Hz9 {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
              }
              .item-79-dHK {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
              }
              .item-917564824544-ZAy {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
              }
              .item-56425-59K {
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
            }
            .auto-group-spg5-yVb {
              width: 100%;
              height: 16.9rem;
              position: relative;
              flex-shrink: 0;

              .itemlistitem-ixy {
                box-sizing: border-box;
                width: 123.9rem;
                top: 0;
                align-items: center;
                border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
                background-color: #ffffff;
                padding: 1.3rem 10.3rem 1.4rem 1.7rem;
                height: 8.5rem;
                position: absolute;
                left: 0;
                display: flex;

                .rectangle-771-Duj {
                  flex-shrink: 0;
                  margin: 0.1rem 4rem 0rem 0rem;
                  width: 2.5rem;
                  height: 2.5rem;
                  background-color: #d9d9d9;
                }
                .auto-group-n4gr-A4H {
                  margin-right: 8.3rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .arsh-kaur-W89 {
                    font-weight: 300;
                    line-height: 1.2125;
                    color: rgba(0, 0, 0, 0.8299999833);
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    font-size: 2.4rem;
                  }
                  .co-admin-dTf {
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 1.2125;
                    color: rgba(0, 0, 0, 0.6000000238);
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-4535-Zs7 {
                  flex-shrink: 0;
                  margin: 0.1rem 6.9rem 0rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .yk-industries-tPb {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 6.5rem 0.3rem 0rem;
                  font-size: 2.5rem;
                }
                .item-79-pY9 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 11.6rem 0.3rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                }
                .item-917564824544-MHB {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0.1rem 4.4rem 0rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-56425-Guw {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                }
              }
              .itemlistitem-ndP {
                width: 123.9rem;
                height: 8.5rem;
                left: 0;
                top: 8.4rem;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 1.3rem 10.3rem 1.4rem 1.7rem;
                position: absolute;
                border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);

                .rectangle-771-GoT {
                  margin: 0.1rem 4rem 0rem 0rem;
                  width: 2.5rem;
                  height: 2.5rem;
                  background-color: #d9d9d9;
                  flex-shrink: 0;
                }
                .auto-group-sgnv-1W9 {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 8.3rem;

                  .arsh-kaur-N5o {
                    font-weight: 300;
                    line-height: 1.2125;
                    color: rgba(0, 0, 0, 0.8299999833);
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    font-size: 2.4rem;
                  }
                  .co-admin-Vw7 {
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 1.2125;
                    color: rgba(0, 0, 0, 0.6000000238);
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-4535-qk5 {
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0.1rem 6.9rem 0rem 0rem;
                }
                .yk-industries-y5b {
                  flex-shrink: 0;
                  margin: 0rem 6.5rem 0.3rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .item-79-J7s {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 11.6rem 0.3rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-917564824544-E1X {
                  margin: 0.1rem 4.4rem 0rem 0rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-56425-LqF {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .itemlistitem-eb3 {
              box-sizing: border-box;
              width: 100%;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              flex-shrink: 0;
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              height: 8.5rem;
              display: flex;
              align-items: center;
              background-color: #ffffff;

              .rectangle-771-kty {
                background-color: #d9d9d9;
                flex-shrink: 0;
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
              }
              .auto-group-x1mk-tEV {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 8.3rem;
                height: 100%;

                .arsh-kaur-Ep9 {
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                }
                .co-admin-NvM {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .item-4535-KKo {
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
              }
              .yk-industries-drH {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
              }
              .item-79-ZV3 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .item-917564824544-5iH {
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-56425-Cnu {
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .itemlistitem-cbj {
              padding: 1.3rem 10.3rem 1.4rem 1.7rem;
              width: 100%;
              height: 8.5rem;
              display: flex;
              flex-shrink: 0;
              box-sizing: border-box;
              align-items: center;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;

              .rectangle-771-Xih {
                margin: 0.1rem 4rem 0rem 0rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-rezm-fa1 {
                margin-right: 8.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .arsh-kaur-rPb {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 2.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .co-admin-nY9 {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-4535-iwb {
                margin: 0.1rem 6.9rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .yk-industries-qFX {
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.5rem 0.3rem 0rem;
                font-size: 2.5rem;
              }
              .item-79-9n1 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.6rem 0.3rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
              .item-917564824544-5Qm {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 4.4rem 0rem 0rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
                font-family: Inter, 'Source Sans Pro';
              }
              .item-56425-npy {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.8299999833);
              }
            }
          }
        }
      }
    }
  }
}
