
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 48.7rem;
}.kit-item-jpV {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  border: solid 0.1rem #000000;
  padding: 0.9rem 0rem 11.95rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-zikb-3qB {
    margin: 0rem 3.6rem 0.5rem 1.2rem;
    width: calc(100% - 4.8rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .item-name-Aeu {
      flex-shrink: 0;
      margin: 0rem 19.3rem 0.2rem 0rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .quantity-gNM {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.7rem;
      font-size: 1.8rem;
    }
    .price-Qp9 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .line-230-MDb {
    width: 100%;
    height: 0.1rem;
    background-color: #000000;
    flex-shrink: 0;
    margin-bottom: 1.1rem;
  }
  .auto-group-iqpo-HN9 {
    flex-shrink: 0;
    margin: 0rem 3.6rem 1.007rem 1.3rem;
    width: calc(100% - 4.9rem);
    display: flex;
    align-items: center;

    .airdopes-131-CV7 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.2rem 0.543rem 0rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .quantity-button-uuK {
      padding: 0 0.1977rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #39ed1b;
      flex-shrink: 0;
      margin: 0.3rem 3.3rem 0rem 0rem;
      box-sizing: border-box;

      .line-229-daR {
        margin: 0.314rem 0.297rem 0rem 0rem;
        width: 1.3859rem;
        height: 0.1rem;
        background-color: #f31919;
        flex-shrink: 0;
      }
      .line-227-x6u {
        margin-right: 0.593rem;
        width: 0.1rem;
        height: 2.1429rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .item-tFT {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.186rem 0.846rem 0rem 0rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #f2183f;
        font-family: Inter, 'Source Sans Pro';
      }
      .line-228-CG9 {
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 0.2961rem;
        width: 0.1rem;
        height: 2.1429rem;
      }
      .vector-8fb {
        margin-top: 0.1071rem;
        width: 1.2867rem;
        height: 1.1786rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item-150-3Xf {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0571rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  .line-231-NK3 {
    width: 100%;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
  }
}
