
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 97.4rem;
}.newcustomer-8L9 {
  width: 100%;
  height: 58.4rem;

  .transfer-goods-Hiq {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 2.5rem 2.9rem 1.1rem 2.9rem;
    background-color: #ffffff;
    border-radius: 2rem;

    .register-new-customer-R4M {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 31rem 1.8rem 0rem;
      font-size: 5.4rem;
    }
    .transfer-goods-hnZ {
      box-sizing: border-box;
      padding: 2.8rem 4.2rem 7rem 3rem;
      width: 87.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2rem 0rem;
      border: solid 0.1rem #000000;
      background-color: #cad0f4;

      .auto-group-nifb-cuX {
        margin: 0rem 6.7rem 0.6rem 0rem;
        width: calc(100% - 6.7rem);
        display: flex;
        align-items: center;

        .customer-name-Ms7 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 17.9rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .customer-phone-no-sKf {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-9qdo-1Rs {
        margin-bottom: 3.2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .select-warehouse-xru {
          margin: 0.4rem 4.4rem 0rem 0rem;
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-i5P {
            width: 100%;
            height: 7.3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
          }
        }
        .select-warehouse-nL9 {
          margin-bottom: 0.6rem;
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-7tD {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.1rem;
            border: solid 0.1rem #000000;
          }
        }
      }
      .auto-group-gwtd-oW9 {
        margin: 0rem 30rem 0.5rem 0rem;
        width: calc(100% - 30rem);
        display: flex;
        align-items: center;

        .customer-address-Vtm {
          margin: 0.5rem 14.3rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .email-dVB {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-xhn1-a9X {
        width: 100%;
        height: 7.8rem;
        display: flex;
        align-items: flex-end;

        .select-warehouse-Kso {
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0.5rem 4.4rem 0rem 0rem;

          .rectangle-519-rMw {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.3rem;
            border: solid 0.1rem #000000;
          }
        }
        .select-warehouse-ky7 {
          width: 38.1rem;
          height: 100%;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-iuw {
            height: 7.8rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
          }
        }
      }
    }
    .creationwarehouse-w21 {
      line-height: 1.2125;
      white-space: nowrap;
      align-items: center;
      margin-left: 50.6rem;
      width: 33.4rem;
      height: 6.1rem;
      background-color: #c7e4ff;
      font-size: 3.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      font-weight: 400;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1rem;
    }
  }
}
