
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 97.4rem;
}.newemployee-idF {
  width: 100%;
  height: 74rem;

  .transfer-goods-UsK {
    height: 100%;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 2.5rem 2.9rem 1.3rem 2.9rem;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    .register-new-employee-PUV {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 31.1rem 1.8rem 0rem;
      font-size: 5.4rem;
      font-weight: 400;
    }
    .transfer-goods-79b {
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #cad0f4;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2.5rem 0rem;
      box-sizing: border-box;
      padding: 2.8rem 4.2rem 4.2rem 3rem;
      width: 87.8rem;

      .auto-group-ce4y-DiR {
        margin: 0rem 17.7rem 0.6rem 0rem;
        width: calc(100% - 17.7rem);
        display: flex;
        align-items: center;

        .employee-name-8qP {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 18rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .branch-name-eYq {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
      }
      .auto-group-yaz7-PmK {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 3.2rem;

        .rectangle-519-LwT {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.4rem 4.4rem 0rem 0rem;
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .rectangle-519-q7X {
          background-color: #ffffff;
          flex-shrink: 0;
          width: 38.1rem;
          height: 7.1rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
      }
      .auto-group-jstx-iSD {
        margin: 0rem 28.6rem 0.5rem 0rem;
        width: calc(100% - 28.6rem);
        display: flex;
        align-items: center;

        .job-role-4FB {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 29.4rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .salary-js7 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 3.2rem;
        }
      }
      .auto-group-tzy9-U41 {
        margin-bottom: 4.3rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .select-warehouse-dBo {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.5rem 4.4rem 0rem 0rem;
          box-sizing: border-box;
          padding: 1.8rem 1rem 2.3rem 32.4rem;
          border: solid 0.1rem #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .polygon-9-xUy {
            width: 4.7rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .rectangle-519-Fiy {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          width: 38.1rem;
          height: 7.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
      }
      .auto-group-gij3-xtH {
        width: calc(100% - 29.7rem);
        display: flex;
        align-items: center;
        margin: 0rem 29.7rem 1rem 0rem;

        .contact-number-G8H {
          flex-shrink: 0;
          margin-right: 17.7rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .email-oe1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
        }
      }
      .auto-group-ts69-uh3 {
        width: 100%;
        display: flex;
        align-items: center;

        .rectangle-519-UVF {
          margin: 0rem 4.4rem 0.1rem 0rem;
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
        }
        .rectangle-519-a2V {
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 38.1rem;
        }
      }
    }
    .creationwarehouse-29P {
      align-items: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      display: flex;
      margin-left: 47rem;
      height: 7.2rem;
      background-color: #c7e4ff;
      width: 34.6rem;
      font-size: 3.8rem;
      justify-content: center;
      flex-shrink: 0;
    }
  }
}
