
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 97.4rem;
}.newsupplier-Fmj {
  height: 74rem;
  width: 100%;

  .transfer-goods-Vg5 {
    box-sizing: border-box;
    padding: 2.5rem 2.9rem 1.3rem 2.9rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 2rem;

    .register-new-supplier-R3w {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 35rem 1.8rem 0rem;
      font-size: 5.4rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .transfer-goods-Kf7 {
      box-sizing: border-box;
      padding: 2.8rem 4.2rem 4.2rem 3rem;
      width: 87.8rem;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2.5rem 0rem;
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #cad0f4;

      .auto-group-2gpy-Ri9 {
        margin: 0rem 15.9rem 0.6rem 0rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: center;

        .company-name-wAh {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 18.3rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .supplier-name-De1 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
        }
      }
      .auto-group-boub-MkD {
        margin-bottom: 3.2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .select-warehouse-HNy {
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0.4rem 4.4rem 0rem 0rem;

          .rectangle-519-ocD {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
        .select-warehouse-tdf {
          margin-bottom: 0.6rem;
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-ecq {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.1rem;
            border: solid 0.1rem #000000;
          }
        }
      }
      .auto-group-lvzd-wbw {
        align-items: center;
        margin: 0rem 21.6rem 0.5rem 0rem;
        width: calc(100% - 21.6rem);
        display: flex;

        .supplier-location-ULy {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 16.2rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .categories-zq7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-mfwo-uSH {
        height: 7.8rem;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4.3rem;
        width: 100%;

        .select-warehouse-FW9 {
          margin: 0.5rem 4.4rem 0rem 0rem;
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-yww {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
        .select-warehouse-FuT {
          width: 38.1rem;
          height: 100%;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-RZ3 {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.8rem;
          }
        }
      }
      .auto-group-8nlr-j3w {
        margin: 0rem 24.2rem 1rem 0rem;
        width: calc(100% - 24.2rem);
        display: flex;
        align-items: center;

        .contact-info-GZf {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .products-NMo {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
        }
      }
      .auto-group-kwhx-iRf {
        width: 100%;
        display: flex;
        align-items: center;

        .select-warehouse-spM {
          margin: 0rem 4.4rem 0.1rem 0rem;
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-519-2SM {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.3rem;
            border: solid 0.1rem #000000;
          }
        }
        .select-warehouse-Vqj {
          width: 38.1rem;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-top: 0.1rem;

          .rectangle-519-489 {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
            height: 7.3rem;
          }
        }
      }
    }
    .creationwarehouse-ZUD {
      align-items: center;
      background-color: #c7e4ff;
      flex-shrink: 0;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      margin-left: 47rem;
      line-height: 1.2125;
      border-radius: 1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 34.6rem;
      font-size: 3.8rem;
      justify-content: center;
      height: 7.2rem;
      font-weight: 400;
      white-space: nowrap;
    }
  }
}
