
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 97.4rem;
}.newwarehouse-pBb {
  width: 100%;
  height: 90.7rem;

  .transfer-goods-mm3 {
    padding: 2.5rem 2.9rem 1.8rem 2.9rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 100%;

    .create-warehouse-heh {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 44.4rem 1.8rem 0rem;
      font-size: 5.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .transfer-goods-QZ7 {
      width: 87.8rem;
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #cad0f4;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 2.8rem 4.2rem 4.3rem 3rem;

      .auto-group-c62m-5fF {
        margin: 0rem 14.8rem 0.6rem 0rem;
        width: calc(100% - 14.8rem);
        display: flex;
        align-items: center;

        .warehouse-name-RUD {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 15.3rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .operator-name-Z4d {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
        }
      }
      .auto-group-ydnh-JH7 {
        margin-bottom: 3.2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .rectangle-519-rJd {
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.4rem 4.4rem 0rem 0rem;
        }
        .rectangle-519-Wty {
          width: 38.1rem;
          height: 7.1rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .auto-group-mwch-cx1 {
        margin: 0rem 24.7rem 0.5rem 0rem;
        width: calc(100% - 24.7rem);
        display: flex;
        align-items: center;

        .warehouse-location-wUV {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 11.2rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .capacity-r5f {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-lech-AMF {
        margin-bottom: 4.3rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .rectangle-519-XBo {
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 4.4rem;
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
        }
        .rectangle-519-dEq {
          height: 7.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          width: 38.1rem;
        }
      }
      .auto-group-hm2r-LQ9 {
        margin: 0rem 22.2rem 1rem 0rem;
        width: calc(100% - 22.2rem);
        display: flex;
        align-items: center;

        .contact-info-HKP {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.1rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .no-of-bins-bay {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-phrs-i9o {
        margin-bottom: 3.6rem;
        width: 100%;
        display: flex;
        align-items: center;

        .rectangle-519-4zM {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.1rem 0rem;
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .rectangle-519-m85 {
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 38.1rem;
        }
      }
      .auto-group-sd4d-F3F {
        margin: 0rem 16.3rem 0.8rem 0rem;
        width: calc(100% - 16.3rem);
        display: flex;
        align-items: center;

        .maintainance-cost-nYy {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 14.3rem 0.2rem 0rem;
        }
        .functionalities-hR3 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-4mrj-DeH {
        align-items: center;
        width: 100%;
        display: flex;

        .rectangle-519-y7f {
          width: 38.1rem;
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.2rem 0rem;
        }
        .rectangle-519-G6m {
          height: 7.3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 38.1rem;
        }
      }
    }
    .creationwarehouse-Jp9 {
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      width: 34.6rem;
      line-height: 1.2125;
      flex-shrink: 0;
      margin-left: 49.4rem;
      background-color: #c7e4ff;
      height: 7.2rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 3.8rem;
      font-weight: 400;
    }
  }
}
