
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.notification-kXs {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-8tzb-HXo {
    height: 9.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 4.4rem 0.5rem 0rem;
    width: calc(100% - 4.4rem);

    .rectangle-728-CPs {
      width: 9.9rem;
      height: 9.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-haed-Xh3 {
      padding: 2rem 0rem 1.9rem 2.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .searchbar-4gy {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        border: solid 0.1rem #000000;
        margin: 0.6rem 51.7rem 0rem 0rem;
        padding: 1.1rem 30rem 1rem 1.6rem;
        align-items: center;

        .vector-n7B {
          margin: 0.05rem 3.4rem 0rem 0rem;
          width: 3.4rem;
          height: 2.8621rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-suK {
          color: rgba(0, 0, 0, 0.5299999714);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.7rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .group-34-iQ9 {
        margin-bottom: 0.3rem;
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-4hyd-Fey {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .hello-inspark-cEd {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
          }
          .owner-8yf {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.7900000215);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.7rem;
          }
        }
        .auto-group-nxhs-U1w {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 4.2rem;

          .auto-group-xdhb-QRP {
            box-shadow: 0 0.4rem 0.4rem #98a0da;
            background-color: #ffffff;
            border-radius: 2.7rem;
            flex-shrink: 0;
            margin: 0rem 0.9rem 0.3rem 0rem;
            box-sizing: border-box;
            padding: 1.253rem 1.1rem 1.581rem 1.1rem;
            border: solid 0.1rem #000000;

            .vector-7ah {
              width: 3.2rem;
              height: 2.566rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-eaxj-1AH {
            margin-bottom: 0.3rem;
            box-sizing: border-box;
            padding: 1.352rem 1.2rem 1.384rem 1.2rem;
            border: solid 0.1rem #000000;
            box-shadow: 0 0.4rem 0.4rem #98a0da;
            background-color: #ffffff;
            border-radius: 2.7rem;
            flex-shrink: 0;

            .vector-8kh {
              width: 3rem;
              height: 2.6646rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .auto-group-jq6h-2r5 {
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 4.4rem;
    width: calc(100% - 4.4rem);
    height: 198.5rem;
    display: flex;

    .slidingmenu-AhP {
      margin: 1.3rem 1.4rem 0rem 0rem;
      width: 11.7rem;
      height: 93rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-qmvj-Uxy {
      width: 127.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .employeescrollablegroup-ESM {
        border-radius: 1.5rem;
        width: 127.6rem;
        height: 163.7rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-766-xt9 {
          width: 100%;
          height: 163.7rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #cad0f4;
          border-radius: 1.5rem;
        }
      }
      .frame-123-Ubb {
        width: 123.9rem;
        height: 196.3rem;
        position: absolute;
        left: 2rem;
        top: 2.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-116-bw7 {
          width: 100%;
          height: 8.7rem;
          overflow: hidden;
          border: solid 0.1rem #000000;
          border-radius: 1.5rem 1.5rem 0 0;
          padding: 2.1rem 3rem 1.9rem 1.2rem;
          position: relative;
          display: flex;
          align-items: center;
          background-color: #cad0f4;
          flex-shrink: 0;
          box-sizing: border-box;

          .purchase-order-filter-uwo {
            background-color: #c7e4ff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.6rem 0.57rem 0rem 1.1rem;
            height: 100%;
            display: flex;
            align-items: flex-end;
            margin-right: 74.2rem;
            cursor: pointer;
            border: solid 0.1rem #000000;

            .all-notification-pos {
              font-weight: 400;
              line-height: 1.7025;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Harmattan, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.2rem;
              font-size: 2.4rem;
            }
            .auto-group-yrqb-Yjs {
              flex-shrink: 0;
              margin: 0.5rem 0;
              width: 5.0305rem;
              height: calc(100% - 1rem);
              position: relative;

              .item-15-Gvm {
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Harmattan, 'Source Sans Pro';
                white-space: nowrap;
                top: 0;
                height: 3.1rem;
                position: absolute;
                left: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7025;
                width: 2.7rem;
              }
              .polygon-7-xob {
                width: 2.4305rem;
                height: 1.4117rem;
                position: absolute;
                left: 2.6rem;
                top: 0.6rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .searchbar-r8H {
            margin: 0.5rem 0rem 0.6rem 0rem;
            display: flex;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.857rem 7.182rem 0.543rem 0.877rem;
            height: calc(100% - 1.1rem);
            align-items: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

            .vector-Y17 {
              width: 1.8617rem;
              height: 1.908rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.58rem 0.215rem 0rem;
            }
            .search-supplier-rnV {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.5299999714);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-120-tz5 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .scrollingsupplierlist-EY9 {
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 13.4rem;

            .itemlistitem-mny {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;

              .rectangle-771-JH7 {
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
              .auto-group-acdf-1SR {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-y8M {
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                }
                .products-6Ts {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                }
              }
            }
          }
          .scrollingsupplierlist-HYM {
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .itemlistitem-3Gd {
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .rectangle-771-a1f {
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
              }
              .auto-group-8tvh-VPX {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                .products-3fw {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .products-nNd {
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                }
              }
            }
          }
          .scrollingsupplierlist-tAm {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-EVX {
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;

              .rectangle-771-Ae5 {
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
              .auto-group-jkpb-tKB {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-FQd {
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .products-n9f {
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                }
              }
            }
          }
          .scrollingsupplierlist-sB7 {
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .itemlistitem-pMF {
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;

              .rectangle-771-ixR {
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
              }
              .auto-group-yeuy-EQy {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-PHs {
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .products-KhK {
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                }
              }
            }
          }
          .scrollingsupplierlist-E3b {
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .itemlistitem-adF {
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;

              .rectangle-771-7dB {
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
              }
              .auto-group-7m8v-SQZ {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-bYM {
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                }
                .products-wMK {
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .scrollingsupplierlist-FN1 {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-16H {
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;

              .rectangle-771-jny {
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
              }
              .auto-group-fckk-fAq {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-RA1 {
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .products-A7b {
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                }
              }
            }
          }
          .scrollingsupplierlist-s21 {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-1tu {
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .rectangle-771-9kD {
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
              .auto-group-f3vr-Gpq {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                .products-SDX {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .products-yUM {
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .scrollingsupplierlist-6J5 {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-qWZ {
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .rectangle-771-ZxM {
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
              }
              .auto-group-mjht-HtM {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                .products-rRf {
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .products-PwP {
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .scrollingsupplierlist-JYZ {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-ra5 {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;

              .rectangle-771-Pa1 {
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
              }
              .auto-group-wqup-KCm {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-4w3 {
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                }
                .products-D3F {
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                }
              }
            }
          }
          .scrollingsupplierlist-Kc5 {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 13.4rem;
            overflow: hidden;

            .itemlistitem-5LM {
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;

              .rectangle-771-1jo {
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
              }
              .auto-group-yubf-wdT {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-Vus {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                }
                .products-qiq {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .scrollingsupplierlist-9Dj {
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .itemlistitem-tx1 {
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;

              .rectangle-771-q6Z {
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
              }
              .auto-group-8biy-9sw {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-v81 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .products-f5b {
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                }
              }
            }
          }
          .scrollingsupplierlist-xaV {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 13.4rem;
            overflow: hidden;

            .itemlistitem-Wru {
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;

              .rectangle-771-rQy {
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
              }
              .auto-group-5hbo-bG5 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-LzM {
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                }
                .products-HPo {
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .scrollingsupplierlist-mpm {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-89X {
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;

              .rectangle-771-edf {
                width: 8.1rem;
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
              }
              .auto-group-pxhw-ZVj {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .products-vLH {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                  font-family: Inter, 'Source Sans Pro';
                }
                .products-G9F {
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                  font-weight: 300;
                }
              }
            }
          }
          .scrollingsupplierlist-yJZ {
            width: 100%;
            height: 13.4rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .itemlistitem-vUh {
              box-sizing: border-box;
              padding: 0.9rem 101.1rem 0.9rem 0.5rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;
              border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
              background-color: #ffffff;

              .rectangle-771-evV {
                height: 7.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 1rem 0.9rem 0rem 0rem;
                width: 8.1rem;
              }
              .auto-group-nevm-aZF {
                flex-direction: column;
                flex-shrink: 0;
                display: flex;

                .products-LYR {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.1rem;
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                }
                .products-HCm {
                  font-weight: 300;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6000000238);
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 1.1rem;
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
