
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.otp-page-YVw {
  width: 100%;
  height: 102.1rem;
  position: relative;
  overflow: hidden;
  background-color: #edf0f2;

  .auto-group-bjbw-5eH {
    left: 1.3rem;
    top: 17.3rem;
    width: 141rem;
    height: 86.9rem;
    position: absolute;

    .component-2-KaZ {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 141rem;
      height: 86.9rem;
      cursor: pointer;
      position: absolute;
    }
    .otp-verification-NHw {
      left: 54.65rem;
      top: 0.7rem;
      display: flex;
      align-items: center;
      line-height: 1.5;
      width: 39.6rem;
      position: absolute;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      font-size: 4.8rem;
      height: 7.2rem;
      font-weight: 700;
    }
    .enter-the-one-time-password-sent-to-your-email-for-registering-hjX {
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      position: absolute;
      top: 11.75rem;
      display: flex;
      font-size: 3.2rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 99.1rem;
      height: 4.8rem;
      left: 8.4rem;
    }
  }
  .otp-hN9 {
    top: 38rem;
    opacity: 0.8;
    width: 40.1502rem;
    height: 9.8rem;
    position: absolute;
    left: 51.9rem;

    .otp-zMF {
      width: 35.8rem;
      height: 9.4rem;
      position: absolute;
      left: 2.2rem;
      top: 0;
      background-color: #ffffff;
      border-radius: 4rem;
    }
    .otp-ewb {
      top: 1.6796rem;
      color: #cdbcbc;
      left: 16.0251rem;
      font-size: 4rem;
      white-space: nowrap;
      position: absolute;
      display: flex;
      line-height: 1.5;
      height: 6rem;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      width: 8.1rem;
    }
  }
  .resend-otp-s3f {
    width: 31.1rem;
    left: 79.9rem;
    top: 57rem;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    overflow: hidden;
    display: flex;
    height: 10rem;
    position: absolute;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d9d9d9;
    align-items: center;
    white-space: nowrap;
    border-radius: 4rem;
  }
  .validate-36Z {
    align-items: center;
    font-size: 3.2rem;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    height: 10rem;
    top: 57rem;
    background-color: #d9d9d9;
    left: 35.7rem;
    font-weight: 400;
    border-radius: 4rem;
    width: 31.1rem;
    white-space: nowrap;
  }
  .header-d4m {
    padding: 1.1rem 37.05rem 1.1rem 1.9rem;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(130, 151, 183, 0.3300000131);
    box-sizing: border-box;
    width: 144rem;
    height: 12.9rem;
    position: absolute;
    left: 0;
    overflow: hidden;

    .inspark-logo-1-TJh {
      object-fit: cover;
      vertical-align: top;
      border-radius: 4.9rem;
      flex-shrink: 0;
      margin: 0rem 30.95rem 1.6rem 0rem;
      width: 10.5rem;
      height: 9.1rem;
    }
    .inventory-management-system-VWH {
      align-items: center;
      font-size: 3.6rem;
      font-weight: 800;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 0.1rem;
      display: flex;
      justify-content: center;
      line-height: 1.5;
      white-space: nowrap;
    }
  }
}
