
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.plugin-6ty {
  height: 107.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .searchbar-o2h {
    border: solid 0.1rem #000000;
    padding: 1.1rem 24.1rem 0.826rem 1.6rem;
    height: 5.4rem;
    position: absolute;
    left: 12.5rem;
    top: 31.1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 47.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 2.5rem;

    .vector-Td3 {
      margin: 0.463rem 3.4rem 0rem 0rem;
      width: 3.4rem;
      height: 3.0102rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .search-app-Bow {
      flex-shrink: 0;
      margin-bottom: 0.1735rem;
      font-size: 2.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.5299999714);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .rectangle-796-bsf {
    object-fit: contain;
    vertical-align: top;
    width: 54.7742rem;
    height: 51.1575rem;
    position: absolute;
    left: 83.5rem;
    top: 0;
  }
  .integrate-best-solution-to-get-your-business-up-UgZ {
    line-height: 1.2575;
    color: #000000;
    font-family: Hannari, 'Source Sans Pro';
    height: 11.4rem;
    left: 12.5rem;
    top: 14.4rem;
    font-size: 4.5rem;
    width: 43.8rem;
    position: absolute;
    font-weight: 400;
  }
  .frame-125-kPB {
    position: absolute;
    top: 38.8rem;
    row-gap: 1.7rem;
    align-items: center;
    display: flex;
    width: 131.9rem;
    height: 149.1rem;
    left: 10.8rem;
    flex-direction: column;

    .latestappscroll-3t5 {
      display: flex;
      border: solid 0.1rem #000000;
      background-color: #cad0f4;
      border-radius: 1.5rem 0 0 1.5rem;
      flex-shrink: 0;
      padding: 1rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;

      .frame-122-nKs {
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.097rem 3rem 0rem;
        width: calc(100% - 0.0969rem);

        .latest-apps-K4u {
          flex-shrink: 0;
          margin-right: 103.5rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Hannari, 'Source Sans Pro';
          white-space: nowrap;
        }
        .seeall-42V {
          margin: 1.2rem 0rem 0.8rem 0rem;
          height: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .see-all-Q6M {
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(6, 135, 255, 0.6299999952);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
          }
          .arrow-6-Wv5 {
            margin-top: 1rem;
            width: 1.8031rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-124-4Au {
        display: flex;
        column-gap: 2.4rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 26.4rem;
        overflow: hidden;
        position: relative;

        .group-117-a9F {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;

          .rectangle-793-6tH {
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
          }
          .woo-ecommerce-eQ1 {
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-x9o {
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-b4pj-thf {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-EmX {
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .hexagram-8c1 {
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
            }
            .item-5024-GTK {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .group-118-yMj {
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .rectangle-793-UpH {
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
          }
          .woo-ecommerce-E2m {
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-vRP {
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-ofdk-pFs {
            display: flex;
            align-items: flex-start;
            width: 100%;

            .month-NYH {
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
            .hexagram-7km {
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-5024-S2M {
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
        .group-117-M9K {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-sdT {
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
          }
          .woo-ecommerce-zi5 {
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-8JV {
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-2hqu-cjT {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-kam {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
            }
            .hexagram-hW1 {
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
            }
            .item-5024-pKj {
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
        }
        .group-121-WiM {
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .rectangle-793-3iH {
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
          }
          .woo-ecommerce-oBf {
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-Ju7 {
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
          }
          .auto-group-tvms-RTw {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-nJV {
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
            .hexagram-TvR {
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-5024-CND {
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
          }
        }
      }
    }
    .latestappscroll-g2V {
      box-sizing: border-box;
      width: 100%;
      height: 36rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ededed;
      border-radius: 1.5rem 0 0 1.5rem;
      padding: 1rem;
      flex-shrink: 0;

      .frame-122-14m {
        flex-shrink: 0;
        margin: 0rem 0.097rem 3rem 0rem;
        width: calc(100% - 0.0969rem);
        height: 4.6rem;
        display: flex;
        align-items: center;

        .latest-apps-rbB {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Hannari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 103.5rem;
        }
        .seeall-bHs {
          flex-shrink: 0;
          margin: 1.2rem 0rem 0.8rem 0rem;
          height: calc(100% - 2rem);
          display: flex;
          align-items: center;

          .see-all-uJZ {
            margin-right: 1.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(6, 135, 255, 0.6299999952);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .arrow-6-SpH {
            margin-top: 1rem;
            width: 1.8031rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-124-ypD {
        column-gap: 2.4rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 26.4rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .group-117-6dw {
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;

          .rectangle-793-d85 {
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .woo-ecommerce-a3K {
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-Jk1 {
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-jyqt-CaV {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-ZA9 {
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
            .hexagram-tCR {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
            }
            .item-5024-zFT {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
            }
          }
        }
        .group-118-Jmw {
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;

          .rectangle-793-pVP {
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .woo-ecommerce-y7P {
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-uWq {
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
          }
          .auto-group-sp5p-CVw {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-xV7 {
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
            .hexagram-WFj {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
            }
            .item-5024-Sv5 {
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
          }
        }
        .group-117-N33 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;

          .rectangle-793-JBb {
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
          }
          .woo-ecommerce-1Lu {
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-wVT {
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .auto-group-ktpf-Fm3 {
            align-items: flex-start;
            width: 100%;
            display: flex;

            .month-R9j {
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .hexagram-GRF {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
            }
            .item-5024-nPb {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .group-121-57o {
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-793-oZb {
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
          }
          .woo-ecommerce-iwT {
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-fLu {
            margin: 0rem 0rem 7.5rem 0.6rem;
            max-width: 23.4rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-vup9-aTs {
            display: flex;
            align-items: flex-start;
            width: 100%;

            .month-Lhw {
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
            }
            .hexagram-eTj {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
            }
            .item-5024-b85 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .latestappscroll-GED {
      border-radius: 1.5rem 0 0 1.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 36rem;
      align-items: center;
      display: flex;
      background-color: #ededed;
      padding: 1rem;
      width: 100%;
      flex-direction: column;

      .frame-122-QLR {
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.097rem 3rem 0rem;
        width: calc(100% - 0.0969rem);

        .latest-apps-KCV {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Hannari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 103.5rem;
        }
        .seeall-2sb {
          margin: 1.2rem 0rem 0.8rem 0rem;
          height: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .see-all-xmF {
            color: rgba(6, 135, 255, 0.6299999952);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .arrow-6-hiq {
            margin-top: 1rem;
            width: 1.8031rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-124-rbj {
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 2.4rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 26.4rem;

        .group-117-Na5 {
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;

          .rectangle-793-uK7 {
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
          }
          .woo-ecommerce-R2Z {
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-MS1 {
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
          }
          .auto-group-wdqm-rNm {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-Qv5 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
            }
            .hexagram-mEq {
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-5024-uM3 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-118-yrh {
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;

          .rectangle-793-Jty {
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .woo-ecommerce-TG5 {
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-ARP {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
          }
          .auto-group-xfm3-rp1 {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-cYH {
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
            .hexagram-Jg1 {
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
            }
            .item-5024-F5T {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-117-8f3 {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-fey {
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
          }
          .woo-ecommerce-1iq {
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-Yim {
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-r43b-qSy {
            display: flex;
            align-items: flex-start;
            width: 100%;

            .month-bBF {
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .hexagram-8gy {
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-5024-dtd {
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .group-121-Xz1 {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-EdX {
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
          }
          .woo-ecommerce-NDw {
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-hGD {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
          }
          .auto-group-hgqz-ce5 {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-BBP {
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
            .hexagram-vPs {
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
            }
            .item-5024-E9f {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .latestappscroll-sTX {
      box-sizing: border-box;
      width: 100%;
      height: 36rem;
      background-color: #ededed;
      border-radius: 1.5rem 0 0 1.5rem;
      flex-shrink: 0;
      padding: 1rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-122-nKb {
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.097rem 3rem 0rem;
        width: calc(100% - 0.0969rem);

        .latest-apps-Hn9 {
          font-family: Hannari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 103.5rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
        .seeall-EBb {
          margin: 1.2rem 0rem 0.8rem 0rem;
          height: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .see-all-mhK {
            line-height: 1.2575;
            color: rgba(6, 135, 255, 0.6299999952);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 2rem;
            font-weight: 400;
          }
          .arrow-6-h5B {
            flex-shrink: 0;
            margin-top: 1rem;
            width: 1.8031rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-124-RWy {
        width: 100%;
        height: 26.4rem;
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 2.4rem;
        align-items: center;
        flex-shrink: 0;

        .group-117-9C5 {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-stm {
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .woo-ecommerce-dN9 {
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-ZWh {
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-opnh-T6H {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-NU9 {
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .hexagram-7gd {
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-5024-ru7 {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .group-118-nXs {
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;
          height: 100%;
          border: solid 0.1rem #000000;

          .rectangle-793-heq {
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
          }
          .woo-ecommerce-S6d {
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-aCq {
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
            font-weight: 400;
          }
          .auto-group-7cb3-TnR {
            align-items: flex-start;
            width: 100%;
            display: flex;

            .month-cfK {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
            }
            .hexagram-whb {
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-5024-64h {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-117-zA5 {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-iLy {
            vertical-align: top;
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
          }
          .woo-ecommerce-G7b {
            color: #000000;
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-n5w {
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .auto-group-uokw-gBK {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .month-Qt1 {
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .hexagram-xed {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
            }
            .item-5024-tHP {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
            }
          }
        }
        .group-121-ndf {
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.3rem 1.3rem 1.6rem;
          width: 32rem;

          .rectangle-793-vE5 {
            margin-bottom: 1.4rem;
            width: 5.3rem;
            height: 5.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .woo-ecommerce-Tzh {
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.2rem 0.4rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .connect-your-wordpress-website-ecommerce-to-manage-the-stock-QQ9 {
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.5899999738);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 8.8rem 0.6rem;
            font-size: 1rem;
          }
          .auto-group-nsdo-5WH {
            align-items: flex-start;
            width: 100%;
            display: flex;

            .month-e3b {
              color: #000000;
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 15.132rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .hexagram-nfb {
              width: 1.7359rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 0.832rem 0rem 0rem;
            }
            .item-5024-Xt5 {
              font-family: Hannari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .frame-122-bN9 {
    box-sizing: border-box;
    padding: 0.8rem 5.1rem 0.3rem 0rem;
    height: 11rem;
    left: 0;
    align-items: center;
    background-color: #ffffff;
    width: 146.2rem;
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;

    .rectangle-728-guP {
      height: 9.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.6rem;
      width: 9.9rem;
    }
    .searchbar-cY9 {
      margin: 2.1rem 53.1rem 2.4rem 0rem;
      box-sizing: border-box;
      padding: 1.1rem 30rem 0.826rem 1.6rem;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      height: calc(100% - 4.5rem);
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      flex-shrink: 0;

      .vector-jMs {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.463rem 3.4rem 0rem 0rem;
        width: 3.4rem;
        height: 3.0102rem;
      }
      .search-fmK {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1735rem;
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.5299999714);
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-36-ZLu {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 2.1rem 0;
      height: calc(100% - 4.2rem);
      display: flex;

      .group-34-te5 {
        margin-right: 1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-tfbf-3ms {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 4.2rem;

          .hello-inspark-nDf {
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .owner-WQZ {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.7900000215);
            font-family: Hannari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.7rem;
          }
        }
        .auto-group-xbf7-S3K {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          box-sizing: border-box;
          padding: 1.468rem 1.1rem 1.233rem 1.1rem;
          border: solid 0.1rem #000000;
          box-shadow: 0 0.4rem 0.4rem #98a0da;
          background-color: #ffffff;
          border-radius: 2.7rem;

          .vector-Ys3 {
            width: 3.2rem;
            height: 2.6988rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .notification-cru {
        border-radius: 2.7rem;
        margin-bottom: 0.3rem;
        cursor: pointer;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.559rem 1.2rem 1.025rem 1.2rem;
        box-shadow: 0 0.4rem 0.4rem #98a0da;
        flex-shrink: 0;

        .vector-ZGM {
          vertical-align: top;
          width: 3rem;
          height: 2.816rem;
          object-fit: contain;
        }
      }
    }
  }
  .slidingmenu-EtH {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 12.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 11.7rem;
    height: 93rem;
  }
}
