
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-page-TuT {
  height: 102.1rem;
  width: 100%;

  .register-page-cGZ {
    padding: 0.25rem 0rem 10.85rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1000000015), 0 4rem 8.7rem rgba(0, 0, 0, 0.1000000015), 0 15.9rem 15.9rem rgba(0, 0, 0, 0.0900000036), 0.1rem 35.7rem 21.4rem rgba(0, 0, 0, 0.0500000007), 0.1rem 63.5rem 25.4rem rgba(0, 0, 0, 0.0099999998), 0.2rem 99.2rem 27.8rem rgba(0, 0, 0, 0);
    background-color: #edf0f2;

    .header-KRs {
      box-sizing: border-box;
      padding: 1.1rem 37.05rem 1.1rem 1.9rem;
      width: 100%;
      position: relative;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 1rem;
      height: 12.9rem;
      overflow: hidden;
      align-items: center;
      background-color: rgba(130, 151, 183, 0.3300000131);

      .inspark-logo-1-PRj {
        border-radius: 4.9rem;
        flex-shrink: 0;
        margin: 0rem 30.95rem 1.6rem 0rem;
        width: 10.5rem;
        height: 9.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .inventory-management-system-srh {
        justify-content: center;
        font-weight: 800;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        margin-top: 0.1rem;
        display: flex;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        font-size: 3.6rem;
      }
    }
    .login-container-NYZ {
      flex-shrink: 0;
      width: calc(100% - 11rem);
      align-items: center;
      background-color: #ffffff;
      border-radius: 0.5rem;
      margin: 0 5.5rem;
      box-sizing: border-box;
      padding: 2rem 3.2rem 2rem 2rem;
      display: flex;

      .image-3-VNH {
        margin-right: 4.6rem;
        width: 50.4rem;
        height: 73.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .login-details-pfT {
        margin-bottom: 6.1rem;
        width: 72.8rem;
        flex-shrink: 0;

        .register-YrM {
          margin-bottom: 3.1rem;
          display: flex;
          flex-direction: column;

          .register-JKj {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            font-size: 3.2rem;
          }
          .sign-up-to-the-most-convenient-and-organized-management-system-for-your-inventory-Ku3 {
            max-width: 72.2rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-5-dPw {
          align-items: center;
          margin: 0rem 0.2rem 3.1rem 1rem;
          width: calc(100% - 1.2rem);
          height: 8.9rem;
          display: flex;

          .rectangle-34-MKw {
            flex-shrink: 0;
            margin-right: 2.5rem;
            width: 34.55rem;
            height: 100%;

            .email-6HX {
              margin-bottom: 0.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #10153f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-34-2gy {
              font-weight: 400;
              color: rgba(0, 0, 0, 0.6800000072);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #8f8f8f;
              box-sizing: border-box;
              padding: 1.85rem 1rem;
              width: 100%;
              background-color: #edf0f2;
              border-radius: 0.5rem;
              font-size: 1.5rem;
              line-height: 1.5;
            }
          }
          .rectangle-35-h2R {
            width: 34.55rem;
            height: 100%;
            flex-shrink: 0;

            .email-rAD {
              color: #10153f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .rectangle-34-zXK {
              border: solid 0.1rem #8f8f8f;
              box-sizing: border-box;
              color: rgba(0, 0, 0, 0.6800000072);
              font-family: Poppins, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
              background-color: #edf0f2;
              border-radius: 0.5rem;
              padding: 1.85rem 1rem;
              width: 100%;
              font-size: 1.5rem;
            }
          }
        }
        .group-8-5Ym {
          align-items: center;
          margin: 0rem 0rem 11.2rem 1.2rem;
          width: calc(100% - 1.2rem);
          height: 8.9rem;
          display: flex;

          .rectangle-34-QL9 {
            flex-shrink: 0;
            margin-right: 2.5rem;
            width: 34.55rem;
            height: 100%;

            .email-keu {
              white-space: nowrap;
              margin-bottom: 0.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #10153f;
              font-family: Poppins, 'Source Sans Pro';
            }
            .rectangle-34-tm7 {
              font-size: 1.5rem;
              color: rgba(0, 0, 0, 0.6800000072);
              align-items: baseline;
              border: solid 0.1rem #8f8f8f;
              white-space: nowrap;
              padding: 1.85rem 1rem;
              width: 100%;
              box-sizing: border-box;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              background-color: #edf0f2;
              border-radius: 0.5rem;

              .rectangle-34-tm7-sub-0 {
              }
              .rectangle-34-tm7-sub-1 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
                color: rgba(0, 0, 0, 0.6800000072);
              }
              .rectangle-34-tm7-sub-2 {
              }
            }
          }
          .rectangle-35-VeR {
            width: 34.55rem;
            height: 100%;
            flex-shrink: 0;

            .email-3fw {
              white-space: nowrap;
              margin-bottom: 0.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #10153f;
              font-family: Poppins, 'Source Sans Pro';
            }
            .rectangle-34-afs {
              width: 100%;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: rgba(0, 0, 0, 0.6800000072);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              padding: 1.85rem 1rem;
              background-color: #edf0f2;
              border: solid 0.1rem #8f8f8f;
              border-radius: 0.5rem;
              box-sizing: border-box;
            }
          }
        }
        .rectangle-39-FX7 {
          margin: 0rem 0rem 1.9rem 1rem;
          width: 39rem;
          height: 2.4rem;

          .group-3-Ma9 {
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding-right: 0.2rem;
            width: 36rem;
            height: 100%;
            display: flex;
            align-items: center;

            .rectangle-39-Hyb {
              width: 2.4rem;
              height: 2.4rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin-right: 1.6rem;
            }
            .remember-me-zND {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              display: flex;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              flex-shrink: 0;

              .remember-me-zND-sub-0 {
              }
              .remember-me-zND-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
              .remember-me-zND-sub-2 {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #10153f;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
        .rectangle-41-Zy3 {
          background-color: #10153f;
          height: 6rem;
          cursor: pointer;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          white-space: nowrap;
          border: solid 0.1rem #8f8f8f;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          border-radius: 2rem;
          margin-bottom: 2.1rem;
          width: 24.7rem;
          display: flex;
          box-sizing: border-box;
          justify-content: center;
        }
        .already-have-an-account-log-in-EpH {
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #10153f;
          font-family: Poppins, 'Source Sans Pro';

          .already-have-an-account-log-in-EpH-sub-0 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #131313;
          }
          .already-have-an-account-log-in-EpH-sub-1 {
          }
        }
      }
    }
  }
}
