
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 51.9rem;
}.slidingmenu-sLm {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1default-B6Z {
    height: 93rem;
    cursor: pointer;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 3.1rem;
    width: 11.7rem;
  }
  .property-1variant2-tWm {
    width: 33.6rem;
    height: 94.1rem;
    cursor: pointer;
    flex-shrink: 0;

    .group-114-S2V {
      position: relative;
      background-color: #cad0f4;
      border-radius: 1.5rem;
      width: 100%;
      height: 100%;

      .rectangle-765-yo7 {
        position: absolute;
        left: 1.6133rem;
        top: 2.3rem;
        background-color: #ffffff;
        border-radius: 1.5rem;
        width: 29.9523rem;
        height: 88.7rem;
      }
      .frame-127-tv5 {
        top: 13.2rem;
        width: 30.3rem;
        height: 70.4rem;
        position: absolute;
        left: 3.3rem;

        .auto-group-qxcu-d6y {
          box-sizing: border-box;
          padding-bottom: 2.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .dashboard-kSV {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 9rem 1.75rem 0rem;
            box-sizing: border-box;
            padding: 0.317rem 0.7rem 0rem 0.171rem;
            width: calc(100% - 9rem);
            cursor: pointer;

            .monitor-dashboard-qTw {
              height: 3.1667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.57rem 1.067rem 0rem;
              width: 3.7586rem;
            }
            .dashboard-9jX {
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0333rem;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
          }
          .purchase-fC5 {
            margin: 0rem 10.6rem 1.9rem 0rem;
            box-sizing: border-box;
            padding: 0rem 1.8rem 0rem 0.154rem;
            width: calc(100% - 10.6rem);
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .cart-plus-ZoF {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.15rem 1.848rem 0rem 0rem;
              width: 3.0984rem;
              height: 3.15rem;
              object-fit: contain;
            }
            .purchase-HjF {
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
          .sell-pUH {
            padding: 0rem 10.1rem 0rem 0.325rem;
            width: calc(100% - 9.8rem);
            height: 4.3rem;
            margin: 0rem 9.8rem 2.5rem 0rem;
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;

            .chart-line-Kfw {
              width: 3.25rem;
              height: 2.625rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.438rem 1.725rem 0rem 0rem;
            }
            .sell-3rq {
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .itemsmenu-n3j {
            padding: 0rem 12.4rem 0rem 0.225rem;
            width: calc(100% - 5.1rem);
            display: flex;
            flex-shrink: 0;
            margin: 0rem 5.1rem 2.5rem 0rem;
            box-sizing: border-box;
            align-items: flex-start;
            height: 4.8rem;
            cursor: pointer;

            .package-variant-plus-5Hj {
              margin: 0.317rem 1.554rem 0rem 0rem;
              width: 3.3211rem;
              height: 3.325rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .items-zvV {
              flex-shrink: 0;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .employeemenu-XfX {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 4.6rem 2.5rem 0rem;
            box-sizing: border-box;
            padding: 0rem 6.6rem 0rem 0.65rem;
            width: calc(100% - 4.6rem);
            cursor: pointer;
            display: flex;

            .account-tie-3Ny {
              flex-shrink: 0;
              margin: 0rem 2.05rem 0.2rem 0rem;
              width: 2.6rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .employee-AyP {
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-128-WnM {
            box-sizing: border-box;
            padding-left: 0.1625rem;
            width: calc(100% - 13.3rem);
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 13.3rem 1.9rem 0rem;

            .human-dolly-Sg1 {
              margin: 0rem 1.57rem 0.6rem 0rem;
              width: 3.5672rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .supplier-aGR {
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
          .frame-129-7GM {
            flex-shrink: 0;
            margin: 0rem 3.1rem 2.2rem 0rem;
            box-sizing: border-box;
            padding-right: 8.9rem;
            width: calc(100% - 3.1rem);
            cursor: pointer;
            display: flex;
            align-items: center;

            .account-group-dEh {
              margin: 0rem 1.4rem 0.162rem 0rem;
              width: 3.5rem;
              height: 2.2958rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .customer-xGy {
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-130-W3b {
            width: calc(100% - 4.4rem);
            height: 4.4rem;
            display: flex;
            align-items: center;
            margin: 0rem 4.4rem 2.5rem 0rem;
            box-sizing: border-box;
            padding: 0rem 4.6rem 0rem 0.341rem;
            cursor: pointer;
            flex-shrink: 0;

            .warehouse-p4H {
              margin-right: 1.7422rem;
              width: 3.4164rem;
              height: 3.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .warehouse-kTj {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-131-g6V {
            margin-right: 2.7rem;
            width: calc(100% - 2.7rem);
            height: 4.4rem;
            display: flex;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 1.1rem 0rem 0.513rem;
            cursor: pointer;
            align-items: center;

            .store-check-zss {
              height: 3.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.367rem 1.656rem 0rem 0rem;
              width: 3.3313rem;
            }
            .my-onlinestore-LB3 {
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 3.3rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
            }
          }
        }
        .frame-132-FYu {
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 0rem 14.6rem 0rem 0.684rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .source-branch-plus-zWV {
            margin-right: 1.7414rem;
            width: 3.075rem;
            height: 3.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .plugins-XWR {
            font-size: 3.3rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-133-GD7 {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-right: 6.4rem;
          box-sizing: border-box;
          padding: 0rem 3.4rem 0rem 0.341rem;
          width: calc(100% - 6.4rem);

          .bank-transfer-PoX {
            flex-shrink: 0;
            margin: 0rem 1.742rem 0.1rem 0rem;
            width: 3.4164rem;
            height: 2.7333rem;
            object-fit: contain;
            vertical-align: top;
          }
          .cash-bank-vHf {
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.3rem;
          }
        }
      }
    }
  }
}
