
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.6rem;
}.supplierdd-A5X {
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;

  .group-123-v4h {
    align-items: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    display: flex;
    background-color: #c7e4ff;
    border-radius: 1rem 1rem 0 0;
    flex-shrink: 0;
    padding: 0.6rem 0.4rem 0rem 1.1rem;
    width: 100%;

    .all-supplier-3f7 {
      color: rgba(0, 0, 0, 0.6999999881);
      font-family: Harmattan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.7025;
    }
    .item-200-Ajj {
      font-family: Harmattan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.7025;
      color: rgba(0, 0, 0, 0.6999999881);
    }
    .polygon-7-tvd {
      margin-top: 0.2rem;
      width: 2.2rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-151-zyf {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 19.2rem;
    overflow: hidden;
    position: relative;

    .shoes-jRT {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 4.8rem;

      .rectangle-762-t3T {
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
      }
      .item-130-1ds {
        font-size: 1.8rem;
        line-height: 1.7025;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 12.4rem;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Harmattan, 'Source Sans Pro';
        width: 3.5rem;
        top: 1.1rem;
        font-weight: 400;
      }
      .shoes-7gu {
        white-space: nowrap;
        height: 4.8rem;
        position: absolute;
        line-height: 1.7025;
        font-family: Harmattan, 'Source Sans Pro';
        font-weight: 400;
        color: #000000;
        width: 5.7rem;
        left: 1.5rem;
        top: 0;
        font-size: 2.8rem;
      }
    }
    .cloths-RxV {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-763-no3 {
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
      }
      .item-140-igh {
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        left: 12.4rem;
        font-size: 1.8rem;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
        width: 3.5rem;
        position: absolute;
        top: 1.1rem;
        font-weight: 400;
      }
      .cloths-DtM {
        color: #000000;
        top: 0;
        font-size: 2.8rem;
        font-weight: 400;
        left: 1.5rem;
        line-height: 1.7025;
        font-family: Harmattan, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.2rem;
        height: 4.8rem;
        position: absolute;
      }
    }
    .shoes-Y9w {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-762-hYd {
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
      .item-130-qPw {
        font-size: 1.8rem;
        white-space: nowrap;
        width: 3.5rem;
        height: 3.1rem;
        position: absolute;
        top: 1.1rem;
        font-family: Harmattan, 'Source Sans Pro';
        left: 12.4rem;
        font-weight: 400;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
      }
      .shoes-wSy {
        position: absolute;
        left: 1.5rem;
        top: 0;
        font-size: 2.8rem;
        line-height: 1.7025;
        white-space: nowrap;
        width: 5.7rem;
        height: 4.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
      }
    }
    .cloths-3ku {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 4.8rem;

      .rectangle-763-c3K {
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
      }
      .item-140-YSm {
        font-size: 1.8rem;
        font-family: Harmattan, 'Source Sans Pro';
        height: 3.1rem;
        position: absolute;
        top: 1.1rem;
        line-height: 1.7025;
        color: rgba(0, 0, 0, 0.6999999881);
        white-space: nowrap;
        width: 3.5rem;
        left: 12.4rem;
        font-weight: 400;
      }
      .cloths-T3w {
        height: 4.8rem;
        top: 0;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.7025;
        white-space: nowrap;
        width: 6.2rem;
        left: 1.5rem;
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        position: absolute;
      }
    }
    .shoes-NAu {
      width: 100%;
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-762-X3o {
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
      }
      .item-130-rbs {
        height: 3.1rem;
        left: 12.4rem;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Harmattan, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.7025;
        white-space: nowrap;
        width: 3.5rem;
        position: absolute;
        top: 1.1rem;
        font-size: 1.8rem;
      }
      .shoes-a25 {
        color: #000000;
        font-family: Harmattan, 'Source Sans Pro';
        left: 1.5rem;
        top: 0;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.7025;
        width: 5.7rem;
        height: 4.8rem;
        position: absolute;
        white-space: nowrap;
      }
    }
    .cloths-t2m {
      height: 4.8rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .rectangle-763-e1w {
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 19.6rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
      }
      .item-140-B1s {
        left: 12.4rem;
        top: 1.1rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Harmattan, 'Source Sans Pro';
        width: 3.5rem;
        height: 3.1rem;
        line-height: 1.7025;
        white-space: nowrap;
        position: absolute;
        font-size: 1.8rem;
      }
      .cloths-5d3 {
        width: 6.2rem;
        left: 1.5rem;
        font-weight: 400;
        line-height: 1.7025;
        font-family: Harmattan, 'Source Sans Pro';
        height: 4.8rem;
        position: absolute;
        top: 0;
        font-size: 2.8rem;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
}
