
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 16.5rem;
}.frame-142-xzV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.frame-142-xzV .today-ftu {
  box-sizing: border-box;
  padding: 0.4rem 1.5844rem;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-142-xzV .yesterday-V7F {
  box-sizing: border-box;
  padding: 0.4rem 1.5844rem;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-142-xzV .last7days-9xV {
  box-sizing: border-box;
  padding: 0.6rem 1.584rem 0.8rem 1.584rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #c7e4ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-142-xzV .lastmonth-d6y {
  box-sizing: border-box;
  padding: 0.6rem 1.584rem 0.8rem 1.584rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-142-xzV .custom-hMj {
  box-sizing: border-box;
  padding: 0.6rem 1.584rem 0.8rem 1.584rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
