
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15.4rem;
}.hoverreturn-SGR {
  box-sizing: border-box;
  padding-top: 2.7rem;
  width: 100%;
  height: 9.6rem;
  overflow: hidden;
  position: relative;
}
.hoverreturn-SGR .hoverreturnreport-kH7 {
  box-sizing: border-box;
  padding: 0.976rem 0.6rem 0.934rem 0.747rem;
  width: 100%;
  height: 9.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 14, 14, 0.2199999988);
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-egam-Exy {
  margin: 0rem 0.734rem 0.853rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-egam-Exy .rectangle-501-xty {
  margin: 0rem 0.84rem 0.205rem 0rem;
  width: 1.1203rem;
  height: 1.0576rem;
  background-color: #88e629;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-egam-Exy .t-return-completed-HRT {
  margin: 0rem 4.159rem 0.037rem 0rem;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-egam-Exy .item-10-avM {
  margin-top: 0.1627rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  color: #88e629;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-6b2r-uhj {
  margin: 0rem 0.734rem 0.934rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-6b2r-uhj .rectangle-502-e9X {
  margin: 0rem 0.933rem 0.205rem 0rem;
  width: 1.1203rem;
  height: 1.0576rem;
  background-color: #1d25e3;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-6b2r-uhj .return-order-recieved-ANm {
  margin: 0rem 3.366rem 0.037rem 0rem;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-6b2r-uhj .item-10-HCV {
  margin-top: 0.1627rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1d25e3;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-3hr9-CqF {
  margin: 0rem 1.234rem 1.015rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-3hr9-CqF .rectangle-503-jqB {
  margin: 0rem 1.026rem 0.124rem 0rem;
  width: 1.1203rem;
  height: 1.0576rem;
  background-color: #c536dd;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-3hr9-CqF .no-of-suppliers-in-return-item-4cZ {
  margin: 0.044rem 0.973rem 0rem 0rem;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-3hr9-CqF .item-3-xhw {
  margin-top: 0.0813rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  color: #c536dd;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-hctr-h9j {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-hctr-h9j .rectangle-504-T8u {
  margin: 0rem 1.026rem 0.124rem 0rem;
  width: 1.1203rem;
  height: 1.0576rem;
  background-color: #db5217;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-hctr-h9j .total-loss-nBB {
  margin: 0.044rem 6.707rem 0rem 0rem;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hoverreturn-SGR .hoverreturnreport-kH7 .auto-group-hctr-h9j .item-100-h3F {
  margin-top: 0.0813rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  color: #db5217;
  font-family: Sofia Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
