
.register-new-supplier-R3w {
  margin: 0rem 35rem 1.8rem 0rem;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 {
  
  box-sizing: border-box;
  padding: 2.8rem 4.2rem 4.2rem 3rem;
  width: 87.8rem;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #cad0f4;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-2gpy-Ri9 {
  margin: 0rem 15.9rem 0.6rem 0rem;
  width: calc(100% - 15.9rem);
  display: flex;
  align-items: center;
}
.transfer-goods-Kf7 .auto-group-2gpy-Ri9 .company-name-wAh {
  margin: 0.4rem 18.3rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-2gpy-Ri9 .supplier-name-De1 {
  margin-bottom: 0.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-boub-MkD {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.transfer-goods-Kf7 .auto-group-boub-MkD .select-warehouse-HNy {
  margin: 0.4rem 4.4rem 0rem 0rem;
  width: 38.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-boub-MkD .select-warehouse-HNy .rectangle-519-ocD {
  width: 100%;
  height: 7.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.transfer-goods-Kf7 .auto-group-boub-MkD .select-warehouse-tdf {
  margin-bottom: 0.6rem;
  width: 38.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-boub-MkD .select-warehouse-tdf .rectangle-519-ecq {
  width: 100%;
  height: 7.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.transfer-goods-Kf7 .auto-group-lvzd-wbw {
  margin: 0rem 21.6rem 0.5rem 0rem;
  width: calc(100% - 21.6rem);
  display: flex;
  align-items: center;
}
.transfer-goods-Kf7 .auto-group-lvzd-wbw .supplier-location-ULy {
  margin: 0.5rem 16.2rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-lvzd-wbw .categories-zq7 {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-mfwo-uSH {
  margin-bottom: 4.3rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: flex-end;
}
.transfer-goods-Kf7 .auto-group-mfwo-uSH .select-warehouse-FW9 {
  margin: 0.5rem 4.4rem 0rem 0rem;
  width: 38.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-mfwo-uSH .select-warehouse-FW9 .rectangle-519-yww {
  width: 100%;
  height: 7.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.transfer-goods-Kf7 .auto-group-mfwo-uSH .select-warehouse-FuT {
  width: 38.1rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-mfwo-uSH .select-warehouse-FuT .rectangle-519-RZ3 {
  width: 100%;
  height: 7.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.transfer-goods-Kf7 .auto-group-8nlr-j3w {
  margin: 0rem 24.2rem 1rem 0rem;
  width: calc(100% - 24.2rem);
  display: flex;
  align-items: center;
}
.transfer-goods-Kf7 .auto-group-8nlr-j3w .contact-info-GZf {
  margin-right: 24.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-8nlr-j3w .products-NMo {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-kwhx-iRf {
  width: 100%;
  display: flex;
  align-items: center;
}
.transfer-goods-Kf7 .auto-group-kwhx-iRf .select-warehouse-spM {
  margin: 0rem 4.4rem 0.1rem 0rem;
  width: 38.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-kwhx-iRf .select-warehouse-spM .rectangle-519-2SM {
  width: 100%;
  height: 7.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.transfer-goods-Kf7 .auto-group-kwhx-iRf .select-warehouse-Vqj {
  margin-top: 0.1rem;
  width: 38.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-goods-Kf7 .auto-group-kwhx-iRf .select-warehouse-Vqj .rectangle-519-489 {
  width: 100%;
  height: 7.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.creationwarehouse-ZUD {
  margin-left: 47rem;
  width: 34.6rem;
  height: 7.2rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #c7e4ff;
  border-radius: 1rem;
  flex-shrink: 0;
 margin-top: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255); ;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}