
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.supplier-KE9 {
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
/* menucss */
.frame-117-rXB {
  box-sizing: border-box;
  padding: 0.3rem 10.8rem 0rem 0rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .rectangle-728-MD3 {
  margin-right: 2.6rem;
  width: 7.9rem;
  height: 7.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .searchbar-fzR {
  margin: 1rem 45.7rem 1rem 2rem;
  box-sizing: border-box;
  padding: 1.1rem 8rem 1rem 1.6rem;
  height: calc(100% - 5.5rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .searchbar-fzR .vector-a5o {
  margin: 0.2rem 3.4rem 0rem 0rem;
  width: 3.4rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .searchbar-fzR .search-RcD {
  max-width: 100%;
  max-height: 100%;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 0.75;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.supplier-KE9 .frame-117-rXB .group-34-fWZ {
  margin: 2rem 0rem 2.2rem 0rem;
  height: calc(100% - 4.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-ubfw-HH3 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-ubfw-HH3 .hello-inspark-R8M {
  margin-bottom: 0.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-mgsv-UMX {
  box-sizing: border-box;
  padding-left: 4.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-mgsv-UMX .auto-group-8xe1-cid {
  margin: 0rem 2.6rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.3rem 1.1rem 1.5rem 1.1rem;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem #98a0da;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-mgsv-UMX .auto-group-8xe1-cid .vector-jYM {
  width: 3.2rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-mgsv-UMX .notification-21f {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.559rem 1.2rem 1.025rem 1.2rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem #98a0da;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.supplier-KE9 .frame-117-rXB .group-34-fWZ .auto-group-mgsv-UMX .notification-21f .vector-M3w {
  width: 3rem;
  height: 2.816rem;
  object-fit: contain;
  vertical-align: top;
}
.supplier-KE9 .auto-group-99i9-piD {
  margin-right: 1.8rem;
  width: calc(100% - 1.8rem);
  height: 97rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm {
  margin: 2rem 1.3rem 2rem 0rem;
  width: 11.7rem;
  height: calc(100% - 5rem);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .group-114-Unm {
  box-sizing: border-box;
  padding: 2.258rem 0.6rem 3.044rem 0.6rem;
  width: 11.7rem;
  height: 77.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cad0f4;
  border-radius: 1.5rem;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .group-114-Unm .rectangle-765-Puj {
  width: 9.5rem;
  height: 74.0976rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.slidingmenu-sLm .property-1variant2-tWm {
  width: 33.6rem;
  height: 94.1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd {
  box-sizing: border-box;
  padding: 0.317rem 0.383rem 2.75rem 0.384rem;
  width: 4.6rem;
  height: 68.3rem;
  position: absolute;
  left: 2.5rem;
  top: 5.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .monitor-dashboard-P2Z {
  margin-bottom: 2.9667rem;
  width: 3.7586rem;
  height: 3.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .cart-plus-WN5 {
  margin: 0rem 0.295rem 3.238rem 0rem;
  width: 3.0984rem;
  height: 3.15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .chart-line-2bK {
  margin: 0rem 0.001rem 3.254rem 0rem;
  width: 3.25rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .package-variant-plus-YZf {
  margin: 0rem 0rem 3.158rem 0.07rem;
  width: 3.3211rem;
  height: 3.325rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .account-tie-TwX {
  margin: 0rem 0.001rem 3.275rem 0rem;
  width: 2.6rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .human-dolly-C8R {
  margin: 0rem 0.008rem 3.646rem 0rem;
  width: 2.8352rem;
  height: 2.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .account-group-VdK {
  margin: 0rem 0.001rem 3.683rem 0rem;
  width: 3.5rem;
  height: 2.2958rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .warehouse-cC9 {
  margin: 0rem 0.002rem 3.783rem 0rem;
  width: 3.4164rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .store-check-X4D {
  margin: 0rem 0rem 3.217rem 0.255rem;
  width: 3.3313rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .source-branch-plus-Sws {
  margin: 0rem 0rem 3.6rem 0.341rem;
  width: 3.075rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-99i9-piD .slidingmenu-sLm .frame-127-hQd .bank-transfer-xvD {
  width: 3.8336rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny {
  margin: 0rem 4.4rem 0.5rem 0rem;
  width: calc(100% - 4.4rem);
  height: 9.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .rectangle-728-jYm {
  width: 9.9rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 {
  box-sizing: border-box;
  padding: 2rem 0rem 1.9rem 2.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .searchbar-PtD {
  margin: 0.6rem 51.7rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.1rem 30rem 1rem 1.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .searchbar-PtD .vector-i9o {
  margin: 0.05rem 3.4rem 0rem 0rem;
  width: 3.4rem;
  height: 2.8621rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .searchbar-PtD .search-qkD {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd {
  margin-bottom: 0.3rem;
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-rohb-EGZ {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-rohb-EGZ .hello-inspark-nYy {
  margin-bottom: 0.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-rohb-EGZ .owner-VyB {
  margin-right: 0.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.7900000215);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-buld-EA5 {
  box-sizing: border-box;
  padding-left: 4.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-buld-EA5 .auto-group-99cm-xbs {
  margin: 0rem 0.9rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.253rem 1.1rem 1.581rem 1.1rem;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem #98a0da;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-buld-EA5 .auto-group-99cm-xbs .vector-U4R {
  width: 3.2rem;
  height: 2.566rem;
  object-fit: contain;
  vertical-align: top;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-buld-EA5 .notification-NQh {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.559rem 1.2rem 1.025rem 1.2rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem #98a0da;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-smgv-Rny .auto-group-ugts-4b3 .group-34-hGd .auto-group-buld-EA5 .notification-NQh .vector-u9j {
  width: 3rem;
  height: 2.816rem;
  object-fit: contain;
  vertical-align: top;
}
.supplier-KE9 .auto-group-4rcv-yvH {
  margin-right: 4.4rem;
  width: calc(100% - 4.4rem);
  height: 163.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .slidingmenu-7Wh {
  margin: 1.3rem 1.4rem 0rem 0rem;
  width: 11.7rem;
  height: 93rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 {
  box-sizing: border-box;
  margin-left: 150px;
  padding: 2.2rem 1.7rem 2.2rem 2rem;
  width: 127.6rem;
  height: 78rem;
  border: solid 0.1rem #000000;
  background-color: #cad0f4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy {
  width: 100%;
  height: 55.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM {
  box-sizing: border-box;
  padding: 2.1rem 3rem 1.9rem 1.2rem;
  width: 100%;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.5rem 1.5rem 0 0;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .purchase-order-filter-EDw {
  margin-right: 61.5rem;
  box-sizing: border-box;
  padding: 0.6rem 0.57rem 0rem 1.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #c7e4ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .purchase-order-filter-EDw .all-supplier-9Lu {
  margin-right: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .purchase-order-filter-EDw .item-15-GgR {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .purchase-order-filter-EDw .polygon-7-zcR {
  margin-bottom: 0.4883rem;
  width: 2.4305rem;
  height: 1.4118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .filter-VZB {
  margin: 0.5rem 2.2rem 0.6rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 1.2rem 0.5rem 1rem;
  height: calc(100% - 1.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .filter-VZB .group-nYH {
  margin: 0rem 0.848rem 0.167rem 0rem;
  width: 2.6523rem;
  height: 2.1333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .filter-VZB .filter-JmX {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #104ff2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .searchbar-1vq {
  margin: 0.5rem 0rem 0.6rem 0rem;
  box-sizing: border-box;
  padding: 0.857rem 7.182rem 0.543rem 0.877rem;
  height: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .searchbar-1vq .vector-Kgd {
  margin: 0rem 2.58rem 0.215rem 0rem;
  width: 1.8617rem;
  height: 1.9081rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-116-uxM .searchbar-1vq .search-supplier-TH3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D {
  box-sizing: border-box;
  padding: 1.5rem 19rem 1.7rem 1.8rem;
  width: 100%;
  height: 6.2rem;
  display: flex;
  align-items: center;
  background-color: #a6b3ff;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .rectangle-773-mh3 {
  margin: 0.3rem 4.4rem 0rem 0rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .name-JS5 {
  margin-right: 8.7rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-qS1 {
  margin-right: 6.4rem;
  box-sizing: border-box;
  padding-right: 0.6969rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-qS1 .contact-nMF {
  margin-right: 1.7031rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-qS1 .arrow-up-thin-vTT {
  margin-bottom: 0.1109rem;
  width: 1rem;
  height: 1.395rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .city-Fkd {
  margin-right: 9.2rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-116-o1T {
  margin-right: 5rem;
  box-sizing: border-box;
  padding-right: 0.6969rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-116-o1T .overdue-amt-kBb {
  margin-right: 1.7031rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-116-o1T .arrow-up-thin-5jf {
  margin-bottom: 0.1109rem;
  width: 1rem;
  height: 1.395rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-Dqs {
  margin-right: 5.5rem;
  box-sizing: border-box;
  padding-right: 0.6969rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-Dqs .categories-ya9 {
  margin-right: 1.7031rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .frame-115-Dqs .arrow-up-thin-Wa5 {
  margin-bottom: 0.111rem;
  width: 1rem;
  height: 1.395rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .frame-122-f8D .sid-FnZ {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD {
  width: 100%;
  height: 58.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: scroll;
}
.scrollingsupplierlist-BgD::-webkit-scrollbar{
  visibility: hidden;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo {
  box-sizing: border-box;
  padding: 1.146rem 2.838rem 1.7rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .rectangle-771-cmX {
  margin: 0.554rem 4rem 0rem 0rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .auto-group-sd5b-9WZ {
  margin: 0.154rem 6.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .auto-group-sd5b-9WZ .arsh-kaur-sSZ {
  margin-bottom: 1.1rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .auto-group-sd5b-9WZ .products-Pfo {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .item-7845354735-7Lu {
  margin: 0.554rem 6.2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .indore-Deq {
  margin: 0.154rem 9.3rem 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .item-45000-MFF {
  margin: 0.154rem 10.9rem 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .clothes-grocery-rxh {
  margin: 0rem 7.4rem 3.146rem 0rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .item-56425-yXX {
  margin: 0.054rem 2.141rem 0rem 0rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .pencil-box-outline-6MF {
  margin: 0rem 2.238rem 0.246rem 0rem;
  width: 4.8586rem;
  height: 5.4083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-KE9 .auto-group-4rcv-yvH .employeescrollablegroup-SJ5 .frame-123-AUy .frame-120-6qo .scrollingsupplierlist-BgD .itemlistitem-Vwo .delete-Dgm {
  margin-top: 0.6542rem;
  width: 2.625rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
