
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.6rem;
}.supplierdd-A5X {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.supplierdd-A5X .group-123-v4h {
  box-sizing: border-box;
  padding: 0.6rem 0.4rem 0rem 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #c7e4ff;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.supplierdd-A5X .group-123-v4h .all-supplier-3f7 {
  margin-right: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplierdd-A5X .group-123-v4h .item-200-Ajj {
  margin-top: 0.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplierdd-A5X .group-123-v4h .polygon-7-tvd {
  margin-top: 0.2rem;
  width: 2.2rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf {
  width: 100%;
  height: 19.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .shoes-jRT {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .shoes-jRT .rectangle-762-t3T {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .shoes-jRT .item-130-1ds {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .shoes-jRT .shoes-7gu {
  width: 5.7rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-RxV {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .cloths-RxV .rectangle-763-no3 {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .cloths-RxV .item-140-igh {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-RxV .cloths-DtM {
  width: 6.2rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .shoes-Y9w {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .shoes-Y9w .rectangle-762-hYd {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .shoes-Y9w .item-130-qPw {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .shoes-Y9w .shoes-wSy {
  width: 5.7rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-3ku {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .cloths-3ku .rectangle-763-c3K {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .cloths-3ku .item-140-YSm {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-3ku .cloths-T3w {
  width: 6.2rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .shoes-NAu {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .shoes-NAu .rectangle-762-X3o {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .shoes-NAu .item-130-rbs {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .shoes-NAu .shoes-a25 {
  width: 5.7rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-t2m {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.supplierdd-A5X .frame-151-zyf .cloths-t2m .rectangle-763-e1w {
  width: 19.6rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.supplierdd-A5X .frame-151-zyf .cloths-t2m .item-140-B1s {
  width: 3.5rem;
  height: 3.1rem;
  position: absolute;
  left: 12.4rem;
  top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
.supplierdd-A5X .frame-151-zyf .cloths-t2m .cloths-5d3 {
  width: 6.2rem;
  height: 4.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7025;
  color: #000000;
  font-family: Harmattan, 'Source Sans Pro';
  white-space: nowrap;
}
