
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 55.6rem;
}.supplier-filter-J1o {
  width: 100%;
  height: 94.8rem;
}
.supplier-filter-J1o .group-115-qnR {
  box-sizing: border-box;
  padding: 1.7rem 0rem 1.1rem 0rem;
  width: 100%;
  height: 100%;
  background-color: #cad0f4;
  border-radius: 1.5rem;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .topheader-XQM {
  margin: 0rem 6.5rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.888rem 0.675rem 1.2rem;
  width: calc(100% - 6.5rem);
  display: flex;
  align-items: center;
  background-color: #cad0f4;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .topheader-XQM .filter-supplier-qA9 {
  margin: 0rem 24.788rem 0.525rem 0rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .topheader-XQM .close-box-outline-8f3 {
  margin-top: 0.175rem;
  width: 4.125rem;
  height: 4.05rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 {
  width: 100%;
  height: 86.1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-aG9 {
  box-sizing: border-box;
  padding: 0.9rem 3rem 1.9rem 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.2800000012);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-aG9 .supplier-id-u3X {
  margin-bottom: 2.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-aG9 .searchbar-E5o {
  margin-left: 0.6rem;
  box-sizing: border-box;
  padding: 0.6rem 26rem 0.6rem 1.7rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-aG9 .searchbar-E5o .vector-kK3 {
  margin-right: 2.2rem;
  width: 2.1rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-aG9 .searchbar-E5o .search-by-supplier-id-681 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR {
  box-sizing: border-box;
  padding: 0.6rem 1.7rem 1.6rem 1.7rem;
  width: 100%;
  row-gap: 2.1rem;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.2800000012);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .order-type-3xM {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-ousr-n9F {
  margin-right: 42.8rem;
  width: calc(100% - 42.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-ousr-n9F .ellipse-133-Key {
  margin-right: 2.8rem;
  width: 1.2rem;
  height: 1.2rem;
  border: solid 0.1rem #2839da;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-ousr-n9F .online-35B {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-zsx9-aL1 {
  margin-right: 42.5rem;
  width: calc(100% - 42.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-zsx9-aL1 .ellipse-134-WzM {
  margin: 0.4rem 2.8rem 0rem 0rem;
  width: 1.2rem;
  height: 1.2rem;
  border: solid 0.1rem #2839da;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-zsx9-aL1 .offline-ajK {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-nbeq-uFo {
  margin-right: 42.5rem;
  width: calc(100% - 42.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-nbeq-uFo .ellipse-135-FaZ {
  margin: 0.2rem 2.8rem 0rem 0rem;
  width: 1.2rem;
  height: 1.2rem;
  border: solid 0.1rem #2839da;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-weR .auto-group-nbeq-uFo .hybrid-Zr9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-VE1 {
  box-sizing: border-box;
  padding: 1.3rem 2.4rem 2.211rem 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.2800000012);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-VE1 .item-id-R7f {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-VE1 .searchbar-kQq {
  margin-left: 1.2rem;
  box-sizing: border-box;
  padding: 0.698rem 29.2rem 0.698rem 1.7rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-VE1 .searchbar-kQq .vector-wkD {
  margin-right: 2.2rem;
  width: 2.1rem;
  height: 2.7927rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .categories-VE1 .searchbar-kQq .search-by-item-id-sds {
  margin-bottom: 0.36rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm {
  box-sizing: border-box;
  padding: 0.6rem 1.7rem 2.5rem 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.2800000012);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .purchase-rEu {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-xmd3-nPT {
  margin: 0rem 38.6rem 2.7rem 0rem;
  width: calc(100% - 38.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-xmd3-nPT .ellipse-137-uiy {
  margin-right: 2.4rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #1e25c7;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-xmd3-nPT .high-to-low-qMj {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-8kez-BRb {
  margin-right: 38.8rem;
  width: calc(100% - 38.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-8kez-BRb .ellipse-138-XVT {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #1e25c7;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .inventoryfilter-Kkm .auto-group-8kez-BRb .low-to-high-2x1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 {
  box-sizing: border-box;
  padding: 0.6rem 0.8rem 4.6rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #b8b8b8;
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 .purchase-range-sSq {
  margin: 0rem 0rem 2.4rem 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 .slider-nph {
  margin: 0rem 0rem 0.7rem 2.4rem;
  width: 50.6rem;
  height: 2.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 .auto-group-mojq-X1b {
  margin-right: 1rem;
  width: calc(100% - 1rem);
  height: 3.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 .auto-group-mojq-X1b .startingprice-FiH {
  margin-right: 33.6rem;
  width: 9.7rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .pricerange-wp5 .auto-group-mojq-X1b .endingrange-ibs {
  width: 9.7rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .wharehouse-a8H {
  box-sizing: border-box;
  padding: 1rem 2.4rem 2.211rem 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.2800000012);
  background-color: #ffffff;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .wharehouse-a8H .location-WXj {
  margin-bottom: 3.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Hannari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .wharehouse-a8H .searchbar-FER {
  margin-left: 1.2rem;
  box-sizing: border-box;
  padding: 0.698rem 27.9rem 0.698rem 1.7rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .wharehouse-a8H .searchbar-FER .vector-mCm {
  margin-right: 2.2rem;
  width: 2.1rem;
  height: 2.7928rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.supplier-filter-J1o .group-115-qnR .frame-121-ZyK .scrollablefilter-3n1 .wharehouse-a8H .searchbar-FER .search-by-location-uJy {
  margin-bottom: 0.36rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5299999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
