<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/WareHouse Location</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-warehouse-location.css"/>
</head>
<body>
<div class="ob-forms-warehouse-location-dSq">
  <div class="property-1default-knM">
    <p class="warehouse-location-6rD">WareHouse Location</p>
    <div class="frame-CuF">WareHouse Location</div>
  </div>
  <div class="property-1error-4Rf">
    <p class="warehouse-location-1bo">WareHouse Location</p>
    <div class="frame-j21">WareHouse Location</div>
  </div>
  <div class="property-1focus-PsF">
    <p class="warehouse-location-kC1">WareHouse Location</p>
    <div class="frame-s1j">WareHouse Location</div>
  </div>
  <div class="property-1disabled-8yF">
    <p class="warehouse-location-tSd">WareHouse Location</p>
    <div class="frame-1GM">WareHouse Location</div>
  </div>
  <div class="property-1hover-t5F">
    <p class="warehouse-location-doX">WareHouse Location</p>
    <div class="frame-A2m">WareHouse Location</div>
  </div>
</div>
</body>