<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/WareHouse Features</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-warehouse-features.css"/>
</head>
<body>
<div class="ob-forms-warehouse-features-jcD">
  <div class="property-1default-gGZ">
    <p class="warehouse-features-EYy">WareHouse Features</p>
    <div class="frame-jkd">WareHouse Features</div>
  </div>
  <div class="property-1error-oVb">
    <p class="warehouse-features-kvd">WareHouse Features</p>
    <div class="frame-U5w">WareHouse Features</div>
  </div>
  <div class="property-1focus-YLh">
    <p class="warehouse-features-5bX">WareHouse Features</p>
    <div class="frame-Q81">WareHouse Features</div>
  </div>
  <div class="property-1disabled-fZj">
    <p class="warehouse-features-QXK">WareHouse Features</p>
    <div class="frame-W4Z">WareHouse Features</div>
  </div>
  <div class="property-1hover-yTw">
    <p class="warehouse-features-XVT">WareHouse Features</p>
    <div class="frame-3To">WareHouse Features</div>
  </div>
</div>
</body>