<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/WareHouse Capacity</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-warehouse-capacity.css"/>
</head>
<body>
<div class="ob-forms-warehouse-capacity-PEH">
  <div class="property-1default-7vy">
    <p class="warehouse-capacity-fxV">WareHouse Capacity</p>
    <div class="frame-PNh">WareHouse Capacity</div>
  </div>
  <div class="property-1error-s2y">
    <p class="warehouse-capacity-1us">WareHouse Capacity</p>
    <div class="frame-8zV">WareHouse Capacity</div>
  </div>
  <div class="property-1focus-c8y">
    <p class="warehouse-capacity-xTj">WareHouse Capacity</p>
    <div class="frame-52Z">WareHouse Capacity</div>
  </div>
  <div class="property-1disabled-Ygq">
    <p class="warehouse-capacity-tkh">WareHouse Capacity</p>
    <div class="frame-Bzh">WareHouse Capacity</div>
  </div>
  <div class="property-1hover-etH">
    <p class="warehouse-capacity-1Tw">WareHouse Capacity</p>
    <div class="frame-KzR">WareHouse Capacity</div>
  </div>
</div>
</body>