<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/Phone Number</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-phone-number.css"/>
</head>
<body>
<div class="ob-forms-phone-number-jcd">
  <div class="property-1default-UaD">
    <p class="phone-number-cwK">Phone Number</p>
    <div class="frame-8em">Phone Number</div>
  </div>
  <div class="property-1error-Bsw">
    <p class="phone-number-juT">Phone Number</p>
    <div class="frame-TqT">Phone Number</div>
  </div>
  <div class="property-1focus-ddT">
    <p class="phone-number-P6q">Phone Number</p>
    <div class="frame-72q">Phone Number</div>
  </div>
  <div class="property-1disabled-mdB">
    <p class="phone-number-KPo">Phone Number</p>
    <div class="frame-qsw">Phone Number</div>
  </div>
  <div class="property-1hover-WDP">
    <p class="phone-number-4Vo">Phone Number</p>
    <div class="frame-NWV">Phone Number</div>
  </div>
</div>
</body>