<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/WareHouse Name</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-warehouse-name.css"/>
</head>
<body>
<div class="ob-forms-warehouse-name-AU9">
  <div class="property-1default-ugd">
    <p class="warehouse-name-rrm">WareHouse Name</p>
    <div class="frame-MHj">WareHouse Name</div>
  </div>
  <div class="property-1error-1t5">
    <p class="warehouse-name-Aky">WareHouse Name</p>
    <div class="frame-Hah">WareHouse Name</div>
  </div>
  <div class="property-1focus-9so">
    <p class="warehouse-name-Hz1">WareHouse Name</p>
    <div class="frame-1v1">WareHouse Name</div>
  </div>
  <div class="property-1disabled-gmF">
    <p class="warehouse-name-Enm">WareHouse Name</p>
    <div class="frame-9uj">WareHouse Name</div>
  </div>
  <div class="property-1hover-Qqf">
    <p class="warehouse-name-AK3">WareHouse Name</p>
    <div class="frame-sz9">WareHouse Name</div>
  </div>
</div>
</body>