<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>OB Forms/Name</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="./styles/ob-forms-name.css"/>
</head>
<body>
<div class="ob-forms-name-bi9">
  <div class="property-1default-k5F">
    <p class="name-VYd">Name</p>
    <div class="frame-Cxq">Name</div>
  </div>
  <div class="property-1error-4k9">
    <p class="name-R4u">Name</p>
    <div class="frame-8V7">Name</div>
  </div>
  <div class="property-1focus-o5T">
    <p class="name-Lr5">Name</p>
    <div class="frame-f7f">Name</div>
  </div>
  <div class="property-1disabled-8G9">
    <p class="name-H93">Name</p>
    <div class="frame-zp9">Name</div>
  </div>
  <div class="property-1hover-eth">
    <p class="name-1DT">Name</p>
    <div class="frame-8Yy">Name</div>
  </div>
</div>
</body>