
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30rem;
}.ob-forms-name-bi9 {
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .property-1default-k5F {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;

    .name-VYd {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      left: 0;
      font-weight: 400;
      position: absolute;
      top: 0.1rem;
      font-size: 1.4rem;
      line-height: 2;
      white-space: nowrap;
      width: 3.9rem;
      height: 2.8rem;
    }
    .frame-Cxq {
      box-sizing: border-box;
      height: 4.8rem;
      white-space: nowrap;
      padding: 1rem 1.5rem;
      width: 30rem;
      position: absolute;
      line-height: 2;
      overflow: hidden;
      font-weight: 400;
      color: #d2d2d2;
      border: solid 0.1rem #e2e1e5;
      background-color: #ffffff;
      border-radius: 0.5rem;
      left: 0;
      top: 2.8rem;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1error-4k9 {
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;

    .name-R4u {
      position: absolute;
      top: 0.1rem;
      font-size: 1.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 3.9rem;
      height: 2.8rem;
      left: 0;
      font-weight: 400;
      line-height: 2;
      white-space: nowrap;
    }
    .frame-8V7 {
      left: 0;
      font-weight: 400;
      line-height: 2;
      white-space: nowrap;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      top: 2.8rem;
      overflow: hidden;
      color: #d2d2d2;
      border: solid 0.1rem #f14668;
      border-radius: 0.5rem;
      height: 4.8rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      width: 30rem;
      font-size: 1.4rem;
    }
  }
  .property-1focus-o5T {
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;

    .name-Lr5 {
      line-height: 2;
      color: #000000;
      white-space: nowrap;
      width: 3.9rem;
      position: absolute;
      top: 0.1rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 2.8rem;
      left: 0;
    }
    .frame-f7f {
      color: #d2d2d2;
      position: absolute;
      top: 2.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      width: 30rem;
      left: 0;
      white-space: nowrap;
      border: solid 0.1rem #222222;
      box-sizing: border-box;
      overflow: hidden;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      height: 4.8rem;
      line-height: 2;
      background-color: #ffffff;
    }
  }
  .property-1disabled-8G9 {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;

    .name-H93 {
      position: absolute;
      left: 0;
      top: 0.1rem;
      font-size: 1.4rem;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      width: 3.9rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 2.8rem;
    }
    .frame-zp9 {
      height: 4.8rem;
      left: 0;
      background-color: #d8d8d8;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #e2e1e5;
      top: 2.8rem;
      font-weight: 400;
      line-height: 2;
      color: #d2d2d2;
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      position: absolute;
      width: 30rem;
      overflow: hidden;
      font-size: 1.4rem;
      border-radius: 0.5rem;
    }
  }
  .property-1hover-eth {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;

    .name-1DT {
      color: #000000;
      left: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.9rem;
      height: 2.8rem;
      position: absolute;
      top: 0.1rem;
    }
    .frame-8Yy {
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      width: 30rem;
      position: absolute;
      overflow: hidden;
      font-weight: 400;
      white-space: nowrap;
      background-color: #ffffff;
      height: 4.8rem;
      left: 0;
      top: 2.8rem;
      border-radius: 0.5rem;
      color: #d2d2d2;
      border: solid 0.1rem #222222;
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      font-size: 1.4rem;
    }
  }
}
