
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30rem;
}.ob-forms-email-address-QG9 {
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .property-1default-wWy {
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .email-address-tx1 {
      left: 0;
      font-weight: 400;
      line-height: 2;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.8rem;
      position: absolute;
      font-size: 1.4rem;
      width: 9.4rem;
      top: 0.1rem;
    }
    .frame-CC1 {
      left: 0;
      color: #d2d2d2;
      background-color: #ffffff;
      padding: 1rem 1.5rem;
      position: absolute;
      top: 2.8rem;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 30rem;
      height: 4.8rem;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #e2e1e5;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  .property-1error-Fvy {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;

    .email-address-1QM {
      height: 2.8rem;
      position: absolute;
      top: 0.1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      width: 9.4rem;
      left: 0;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-vnD {
      color: #d2d2d2;
      white-space: nowrap;
      border: solid 0.1rem #f14668;
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      width: 30rem;
      top: 2.8rem;
      overflow: hidden;
      background-color: #ffffff;
      border-radius: 0.5rem;
      height: 4.8rem;
      position: absolute;
      left: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1focus-btM {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;

    .email-address-xU1 {
      width: 9.4rem;
      height: 2.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 0.1rem;
      line-height: 2;
      color: #000000;
    }
    .frame-UBT {
      left: 0;
      font-size: 1.4rem;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 30rem;
      height: 4.8rem;
      font-weight: 400;
      white-space: nowrap;
      border-radius: 0.5rem;
      border: solid 0.1rem #222222;
      top: 2.8rem;
      overflow: hidden;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      padding: 1rem 1.5rem;
      position: absolute;
      color: #d2d2d2;
    }
  }
  .property-1disabled-w53 {
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .email-address-HPo {
      white-space: nowrap;
      width: 9.4rem;
      position: absolute;
      top: 0.1rem;
      font-size: 1.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.8rem;
      left: 0;
      font-weight: 400;
      line-height: 2;
    }
    .frame-CFs {
      left: 0;
      color: #d2d2d2;
      border: solid 0.1rem #e2e1e5;
      border-radius: 0.5rem;
      height: 4.8rem;
      width: 30rem;
      padding: 1rem 1.5rem;
      top: 2.8rem;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      background-color: #d8d8d8;
      box-sizing: border-box;
    }
  }
  .property-1hover-Fzq {
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .email-address-DAy {
      width: 9.4rem;
      left: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      height: 2.8rem;
      position: absolute;
      top: 0.1rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-8Hw {
      box-sizing: border-box;
      left: 0;
      width: 30rem;
      height: 4.8rem;
      font-size: 1.4rem;
      position: absolute;
      top: 2.8rem;
      line-height: 2;
      border: solid 0.1rem #222222;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      overflow: hidden;
      font-weight: 400;
      color: #d2d2d2;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #ffffff;
    }
  }
}
