
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30rem;
}.ob-forms-warehouse-features-jcD {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .property-1default-gGZ {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;

    .warehouse-features-EYy {
      line-height: 2;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.8rem;
      position: absolute;
      top: 0.1rem;
      font-weight: 400;
      height: 2.8rem;
      left: 0;
      font-size: 1.4rem;
    }
    .frame-jkd {
      box-sizing: border-box;
      padding: 1rem 1.5rem;
      top: 2.8rem;
      overflow: hidden;
      border-radius: 0.5rem;
      width: 30rem;
      position: absolute;
      line-height: 2;
      white-space: nowrap;
      left: 0;
      font-weight: 400;
      color: #d2d2d2;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #e2e1e5;
      background-color: #ffffff;
      height: 4.8rem;
      font-size: 1.4rem;
    }
  }
  .property-1error-oVb {
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .warehouse-features-kvd {
      line-height: 2;
      color: #000000;
      height: 2.8rem;
      position: absolute;
      left: 0;
      font-size: 1.4rem;
      font-weight: 400;
      width: 13.8rem;
      top: 0.1rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-U5w {
      background-color: #ffffff;
      width: 30rem;
      position: absolute;
      line-height: 2;
      border-radius: 0.5rem;
      box-sizing: border-box;
      left: 0;
      font-size: 1.4rem;
      overflow: hidden;
      font-weight: 400;
      color: #d2d2d2;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      padding: 1rem 1.5rem;
      height: 4.8rem;
      top: 2.8rem;
      border: solid 0.1rem #f14668;
    }
  }
  .property-1focus-YLh {
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;

    .warehouse-features-5bX {
      width: 13.8rem;
      height: 2.8rem;
      position: absolute;
      top: 0.1rem;
      font-weight: 400;
      line-height: 2;
      white-space: nowrap;
      left: 0;
      font-size: 1.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .frame-Q81 {
      left: 0;
      top: 2.8rem;
      color: #d2d2d2;
      width: 30rem;
      position: absolute;
      white-space: nowrap;
      border: solid 0.1rem #222222;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      background-color: #ffffff;
      overflow: hidden;
      font-size: 1.4rem;
      height: 4.8rem;
      line-height: 2;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1rem 1.5rem;
    }
  }
  .property-1disabled-fZj {
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;
    overflow: hidden;

    .warehouse-features-QXK {
      left: 0;
      font-size: 1.4rem;
      line-height: 2;
      width: 13.8rem;
      height: 2.8rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 0.1rem;
      font-weight: 400;
      color: #000000;
    }
    .frame-W4Z {
      box-sizing: border-box;
      width: 30rem;
      height: 4.8rem;
      top: 2.8rem;
      line-height: 2;
      background-color: #d8d8d8;
      font-size: 1.4rem;
      color: #d2d2d2;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #e2e1e5;
      padding: 1rem 1.5rem;
      position: absolute;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 400;
      border-radius: 0.5rem;
    }
  }
  .property-1hover-yTw {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 8.4rem;
    position: relative;

    .warehouse-features-XVT {
      width: 13.8rem;
      height: 2.8rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2;
      color: #000000;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
    }
    .frame-3To {
      height: 4.8rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      box-sizing: border-box;
      left: 0;
      font-size: 1.4rem;
      white-space: nowrap;
      background-color: #ffffff;
      top: 2.8rem;
      overflow: hidden;
      color: #d2d2d2;
      border: solid 0.1rem #222222;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      width: 30rem;
      font-weight: 400;
      line-height: 2;
    }
  }
}
